{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{ language_code }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mySite/universal.css' %}">
    <link rel="stylesheet" href="{% static 'mySite/header2.css' %}">
    <title>{% trans 'АДРЕСНАЯ СОЦИАЛЬНАЯ ПОМОЩЬ' %} - {% trans 'Центр Трудовой мобильности Восточно-Казахстанской области' %}</title>
</head>
<body>
    {% include 'mySite/header.html' %}
    

    <div class="head">
        <div class="container">
            <div class="head-h">
            <h1>{% trans 'АДРЕСНАЯ СОЦИАЛЬНАЯ ПОМОЩЬ' %}</h1>
              
            {% load i18n %}
            <p>{% trans 'Коммунальное государственное учреждение «Центр трудовой мобильности» Восточно-Казахстанской области' %}</p>
        </div>
        </div>
    </div>

    <div class="conteiner">
        <div class="mian-section">
            <div class="container">
                {% if language_code == 'ru' %}
                <p class="white-space-wrap__p">
                    Государственная адресная социальная помощь — помощь, предоставляемая государством физическим лицам (семьям) с месячным среднедушевым доходом ниже черты бедности, установленной в областях, городах республиканского значения, столице.

 

                    Право на адресную социальную помощь имеют граждане Республики Казахстан, кандасы, беженцы, иностранцы и лица без гражданства, постоянно проживающие в Республике Казахстан, со среднедушевым доходом, не превышающим черты бедности.
                    
                     
                    
                    Черта бедности по областям, городам республиканского значения, столице ежеквартально рассчитывается местными исполнительными органами. Черта бедности по городу Нур-Султан в 1 квартале 2022 года – 29532 тенге на одного члена семьи.
                    
                     
                    
                    Адресная социальная помощь оказывается в виде безусловной денежной помощи и обусловленной денежной помощи.
                    
                    Безусловная денежная помощь — вид адресной социальной помощи, оказываемой в форме ежемесячных денежных выплат, в том числе электронными деньгами на электронные кошельки электронных денег, малообеспеченным лицам (семьям) с ограниченными возможностями участия в мерах содействия занятости.
                    
                    Обусловленная денежная помощь — вид адресной социальной помощи, оказываемой в форме ежемесячной и (или) единовременной денежной выплаты, в том числе электронными деньгами на электронные кошельки электронных денег, малообеспеченным лицам (семьям) при условии их обязательного участия в мерах содействия занятости и (или), при необходимости, мерах социальной адаптации.
                    
                     
                    
                    Кто может претендовать на адресную социальную помощь?
                    
                    пенсионеры;
                    инвалиды первой, второй, третьей группы;
                    лица, имеющие заболевания, при которых может устанавливаться срок временной нетрудоспособности более двух месяцев;
                    малообеспеченные семьи, в составе которых нет трудоспособных лиц или единственный трудоспособный член осуществляет уход за ребенком в возрасте до трех лет, ребенком-инвалидом, инвалидом первой или второй группы, престарелым, нуждающимся в постороннем уходе и помощи;
                    учащиеся, студенты, слушатели, курсанты и магистранты очной формы обучения;
                    лица, имеющие постоянную работу.
                     
                    
                    Адресная социальная помощь не назначается:
                    
                    лицам (семьям), не являющимся малообеспеченными;
                    семье, трудоспособный член которой, за исключением лиц, указанных в пункте 6 настоящей статьи, отказался от участия в мерах содействия занятости, — в течение шести месяцев со дня отказа от участия в мерах содействия занятости;
                    лицу (семье) в случаях расторжения ранее заключенного социального контракта и (или) неисполнения обязательств, предусмотренных социальным контрактом, по вине получателя — в течение шести месяцев, предшествующих обращению за назначением адресной социальной помощи;
                    лицам (семьям), представившим заведомо ложные сведения и (или) недостоверные документы для назначения адресной социальной помощи, — в течение шести месяцев со дня их представления;
                    лицам (семьям), которые согласно заключению участковой комиссии, подготовленному по результатам обследования их материального положения, не нуждаются в предоставлении адресной социальной помощи.
                     
                    
                    Перечень необходимых документов для получении АСП
                    
                    Лицо (заявитель) от себя лично или от имени семьи обращается за оказанием адресной социальной помощи в центр занятости населения по месту жительства, а в сельской местности — к акиму поселка, села, сельского округа с заявлением установленного образца и документом, удостоверяющим личность для идентификации.
                    
                    Срок рассмотрения заявки 15 рабочих дней (день подачи заявки не учитывается).
                    
                     
                    
                    Куда подавать заявки?

                    Портал электронного правительства egov.kz


                    <a class="a_link" href="https://youtu.be/9egAncp4qWM">Инструкция по подаче заявления через портал электронного правительства egov.kz</a>


                    ЗАКОНОДАТЕЛЬНАЯ БАЗА

                    <a class="a_link" href="https://adilet.zan.kz/rus/docs/Z010000246_/z246_1.htm">«О государственной адресной социальной помощи» — Закон Республики Казахстан от 17 июля 2001 года № 246</a>

                    <a class="a_link" href="https://adilet.zan.kz/rus/docs/V1500011426">«Об утверждении Правил назначения и выплаты государственной адресной социальной помощи и предоставления гарантированного социального пакета» — Приказ Министра здравоохранения и социального развития Республики Казахстан от 5 мая 2015 года № 320</a>

                </p>
                {% else %}
                <p class="white-space-wrap__p">
                    Мемлекеттік атаулы әлеуметтік көмек – жан басына шаққандағы орташа айлық табысы облыстарда, республикалық маңызы бар қалаларда, астанада белгіленген кедейлік шегінен төмен жеке адамдарға (отбасыларға) мемлекет беретін көмек.

 

                    Жан басына шаққандағы орташа табысы кедейлік шегінен аспайтын Қазақстан Республикасы азаматтарының, қандастардың, босқындардың, шетелдіктердің және Қазақстан Республикасында тұрақты тұратын, азаматтығы жоқ адамдардың атаулы әлеуметтік көмек алуға құқығы бар.
                    
                     
                    
                    Облыстар, республикалық маңызы бар қалалар, астана бойынша кедейлік шегін жергілікті атқарушы органдар тоқсан сайын есептеп шығарады. Нұр-Сұлтан қаласы бойынша кедейлік шегі 2022 жылдың 1 тоқсанында – отбасының бір мүшесіне 29532 теңгені құрайды.
                    
                     
                    
                    Атаулы әлеуметтік көмек шартсыз ақшалай көмек және шартты ақшалай көмек түрінде көрсетіледі.
                    
                    Шартсыз ақшалай көмек – жұмыспен қамтуға жәрдемдесу шараларына қатысуға мүмкіндігі шектеулі табысы аз адамдарға (отбасыларға) ай сайынғы ақшалай төлемдер нысанында, оның ішінде электрондық ақшаның электрондық әмияндарына электрондық ақшамен көрсетілетін атаулы әлеуметтік көмек түрі.
                    
                    Шартты ақшалай көмек – жұмыспен қамтуға жәрдемдесу шараларына және (немесе) қажет болған жағдайда әлеуметтік бейімдеу шараларына табысы аз адамдардың (отбасылардың) міндетті қатысуы шартымен оларға ай сайынғы және (немесе) біржолғы ақшалай төлем нысанында, оның ішінде электрондық ақшаның электрондық әмияндарына электрондық ақшамен көрсетілетін атаулы әлеуметтік көмек түрі.
                    
                    Атаулы әлеуметтік көмекке кім үміткер бола алады?
                    
                    зейнеткерлер;
                    бірінші, екінші, үшінші топтардағы мүгедектер;
                    екі айдан астам еңбекке уақытша қабілетсіздік мерзімі белгіленуі мүмкін ауруы бар адамдар;
                    құрамында еңбекке қабілетті адамдары жоқ немесе жалғыз еңбекке қабілетті мүшесі үш жасқа дейінгі балаға, мүгедек балаға, бірінші немесе екінші топтағы мүгедекке, бөгденің күтіміне және көмегіне мұқтаж қартқа күтімді жүзеге асыратын табысы аз отбасылар;
                    күндізгі оқу нысанында оқитын оқушылар, студенттер, тыңдаушылар, курсанттар мен магистранттар;
                    тұрақты жұмысы бар адамдар.
                     
                    
                    Атаулы әлеуметтік көмек тағайындалмайды:
                    
                     
                    
                    табысы аз болып табылмайтын адамдарға (отбасыларға);
                    осы баптың 6-тармағында көрсетілген адамдарды қоспағанда, еңбекке қабілетті мүшесі жұмыспен қамтуға жәрдемдесу шараларына қатысудан бас тартқан отбасыға – жұмыспен қамтуға жәрдемдесу шараларына қатысудан бас тартқан күннен бастап алты ай бойы;
                    алушының кінәсі бойынша бұрын жасалған әлеуметтік келісімшарт бұзылған және (немесе) әлеуметтік келісімшартта көзделген міндеттемелер орындалмаған жағдайларда, адамға (отбасыға) – атаулы әлеуметтік көмекті тағайындауға өтініш жасаудың алдындағы алты ай бойы;
                    атаулы әлеуметтік көмек тағайындау үшін көрінеу жалған мәліметтер және (немесе) анық емес құжаттар берген адамдарға (отбасыларға) – оларды ұсынған күннен бастап алты ай бойы;
                    материалдық жағдайын зерттеп-қарау нәтижелері бойынша дайындалған учаскелік комиссияның қорытындысына сәйкес атаулы әлеуметтік көмек беруге мұқтаж емес адамдарға (отбасыларға) тағайындалмайды.
                     
                    
                    Атаулы әлеуметтік көмек көрсетуге өтініш беру
                    
                     
                    
                    Адам (өтініш беруші) өзінің атынан немесе отбасының атынан атаулы әлеуметтік көмек көрсетілуі үшін тұрғылықты жері бойынша – халықты жұмыспен қамту орталығына, ал ауылдық жерлерде кент, ауыл, ауылдық округ әкіміне белгіленген үлгідегі өтінішпен және сәйкестендіру үшін жеке басын куәландыратын құжатпен жүгінеді.
                    
                    Өтінімді қарау мерзімі 15 жұмыс күні (өтінім берілген күн болып саналмайды).
                    
                    <a class="a_link" href="https://youtu.be/-y0C88z6Jhs">egov.kz электронды үкімет порталында өтініш беру бойынша нұсқаулық</a>
                    
                    
                    Заңнамалық база

                    <a class="a_link" href="https://adilet.zan.kz/rus/docs/Z010000246_/z246_1.htm">«Мемлекеттік атаулы әлеуметтік көмек туралы» Қазақстан Республикасының 2001 жылғы 17 шілдедегі N 246 Заңы</a>
                    
                    <a class="a_link" href="https://adilet.zan.kz/rus/docs/V1500011426">«Мемлекеттік атаулы әлеуметтік көмек тағайындау және төлеу және кепілдедік берілген әлеуметтік топтаманы ұсыну қағидаларын бекіту туралы» Қазақстан Республикасы Денсаулық сақтау және әлеуметтік даму министрінің 2015 жылғы 5 мамырдағы № 320 бұйрығы«Мемлекеттік атаулы әлеуметтік көмек тағайындау және төлеу және кепілдедік берілген әлеуметтік топтаманы ұсыну қағидаларын бекіту туралы» Қазақстан Республикасы Денсаулық сақтау және әлеуметтік даму министрінің 2015 жылғы 5 мамырдағы № 320 бұйрығы</a>
                </p>
                {% endif %}

                 <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/U-vgj5W_D7Q" title="Видеоинструкция по получению государственных мер поддержки занятости на Электронной бирже труда" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
            </div>
        </div>
    </div>
    

    {% include 'mySite/footer.html' %} 
</body>
</html>