{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{ language_code }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mySite/universal.css' %}">
    <link rel="stylesheet" href="{% static 'mySite/header2.css' %}">
    <title>{% trans 'БЕЗРАБОТНЫМ ГРАЖДАНАМ ПРЕДОСТАВЛЯЕТСЯ ВОЗМОЖНОСТЬ ПРОЙТИ ОНЛАЙН КУРСЫ – БЕСПЛАТНО!' %} - {% trans 'Центр Трудовой мобильности Восточно-Казахстанской области' %}</title>
</head>
<body>
    {% include 'mySite/header.html' %}
    

    <div class="head">
        <div class="container">
            <div class="head-h">
            <h1>{% trans 'БЕЗРАБОТНЫМ ГРАЖДАНАМ ПРЕДОСТАВЛЯЕТСЯ ВОЗМОЖНОСТЬ ПРОЙТИ ОНЛАЙН КУРСЫ – БЕСПЛАТНО!' %}</h1>
              
            {% load i18n %}
            <p>{% trans 'Коммунальное государственное учреждение «Центр трудовой мобильности» Восточно-Казахстанской области' %}</p>
        </div>
        </div>
    </div>

    <div class="conteiner">
        <div class="mian-section">
            <div class="container">
                {% if language_code == 'ru' %}
                <p class="white-space-wrap__p">
                    Портал skills.enbek.kz разработанный Министерством труда и социальной защиты населения РК предоставляет возможность безработным гражданам, зарегистрированным в центрах занятости населения пройти онлайн курсы.

                    Портал предоставляет бесплатные курсы по следующим специальностям и профессиональным областям:
                    
                    копирайтинг;
                    дизайн (анимация, веб-дизайн, печатный дизайнер);
                    организация перевозок на автомобильном транспорте;
                    тепличный бизнес (выращивание клубники, овощей, микрозелени, грибов, лимонов, томатов);
                    кройка и шитье;
                    кассир;
                    кондитерские изделия;
                    управление персоналом (HR);
                    фермерское хозяйство (содержание домашних птиц, разведение КРС кроликов, рыб);
                    пчеловодство;
                    изготовление мыла;
                    бизнес в сфере туризма (гостиничный бизнес, туристические маршруты, агротуризм, деловой туризм).
                    Ресурс предоставляет возможность получить новые знания и навыки на государственном и русском языках. На сайте также представлена версия для лиц с нарушением зрения. По итогам прохождения курсов предоставляется Сертификат.
                    
                    ВНИМАНИЕ! Необходимо иметь статус «безработный». Чтобы пройти онлайн курс, Вам необходимо пройти по ссылке skills.enbek.kz или enbek.kz «Онлайн обучение». Авторизоваться и выбрать нужный курс, воспользовавшись фильтром с правой стороны экрана. Видео инструкция прилагается.
                    
                    Авторами и разработчиками курсов являются казахстанские юридические лица и индивидуальные предприниматели, в том числе учебные центры, организации образования. Для начинающих авторов и разработчиков на Портале подготовлены и размещены методические рекомендации по созданию онлайн курсов и требования к ним.
                    
                    По всем интересующим вопросам можете обратиться по номеру +7 700 956 9834
                </p>
                <a href="https://skills.enbek.kz/"  class="show-this"><span>Начать обучение</span></a>
                {% else %}
                <p class="white-space-wrap__p">
                    ҚР Еңбек және халықты әлеуметтік қорғау министрлігі әзірлеген skills.enbek.kz порталы Халықты жұмыспен қамту орталықтарында тіркелген жұмыссыз тұлғаларға онлайн курстардан өтуге мүмкіндік береді.

                    Портал келесі мамандықтар мен кәсіби салалар бойынша тегін курстар ұсынады:
                    
                    1) копирайтинг;
                    
                    2) дизайн (анимация, веб-дизайн, баспа дизайнері);
                    
                    3) автомобиль көлігімен тасымалдауды ұйымдастыру;
                    
                    4) жылыжай бизнесі (құлпынай, көкөніс, микрозелень, саңырауқұлақ, лимон, қызанақ өсіру);
                    
                    5) пішу және тігу;
                    
                    6) кассир;
                    
                    7) кондитерлік өнімдері;
                    
                    8) персоналды басқару (HR);
                    
                    9) фермер шаруашылығы (үй құстарын ұстау, ІҚМ, қоян, балық өсіру);
                    
                    10) ара шаруашылығы;
                    
                    11) сабын жасау;
                    
                    12) туризм саласындағы бизнес (қонақ үй бизнесі, туристік маршруттар, агротуризм, іскерлік туризм).
                    
                    Ресурс мемлекеттік және орыс тілдерінде жаңа білім мен дағдыларды алуға мүмкіндік береді. Сондай-ақ, сайтта көру қабілеті бұзылған адамдарға арналған нұсқа ұсынылған. Курстардан өту қорытындысы бойынша Сертификат беріледі.
                    
                    ЕСКЕРТУ! «Жұмыссыз» мәртебесі болуы қажет. Онлайн курстан өту үшін Сізге skills.enbek.kz  немесе enbek.kz  «Онлайн оқыту» сілтеме бойынша өту керек. Экранның оң жағындағы сүзгіні пайдаланып, авторизациядан өтіп, қажетті курсты таңдаңыз.
                    
                    Қазақстандық заңды тұлғалар мен жеке кәсіпкерлер, соның ішінде оқу орталықтары, білім беру мекемелері курстардың авторлары мен әзірлеушілері болып табылады. Жаңа бастаған авторлар мен әзірлеушілер үшін порталда онлайн курстарды құру бойынша әдістемелік ұсынымдар және оларға қойылатын талаптар әзірленіп, орналастырылды.
                    
                    Барлық сұрақтар бойынша +7 700 956 9834 нөміріне хабарласуыңызға болады.
                </p>
                <a href="https://skills.enbek.kz/"  class="show-this"><span>Оқуды бастау</span></a>
                {% endif %}


                 <div class="video-player">
                    <iframe width="1272" height="720" src="https://www.youtube.com/embed/xW4wnARweio" title="Skills enbek kz порталын қалай пайдалануға болады / Как пользоваться порталом skills enbek kz" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
            </div>
        </div>
    </div>
    

    {% include 'mySite/footer.html' %} 
</body>
</html>