{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{ language_code }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mySite/universal.css' %}">
    <link rel="stylesheet" href="{% static 'mySite/header2.css' %}">
    <title>{% trans 'Контакты' %} - {% trans 'Центр Трудовой мобильности Восточно-Казахстанской области' %}</title>
</head>
<body>
    {% include 'mySite/header.html' %}
    <div class="head">
        <div class="container">
            <div class="head-h">
            <h1>{% trans 'Контакты' %}</h1>
              
 {% load i18n %}
            <p>{% trans 'Коммунальное государственное учреждение «Центр трудовой мобильности» Восточно-Казахстанской области' %}</p>
        </div>
        </div>
    </div>
    <div class="conteiner">
        <div class="mian-section">
            <p class="white-space-wrap__p">
                <b>Контакты:</b>

                Адрес: <a class="a_link" href="https://2gis.kz/ustkam/firm/70000001018565683/tab/services">г. Усть-Каменогорск, пр. Шакарима, 149/10</a>

                Телефон: <a class="a_link" href="tel:+77232700670">+7 (723) 270 06 70</a>

                Электронная почта: <a class="a_link" href="mailto:a.arspek@akimvko.gov.kz">a.arspek@akimvko.gov.kz</a>
            </p>
            <!-- <div class="container">

                <p><strong><span style="font-size: 18pt;">Контакты</span></strong></p>
                <p>Колл-Центр<br>
                24-96-34, 24-96-24, 24-96-64</p>
                <p>Отдел поддержки предпринимательских инициатив (грант)<br>
                249644, 249451, 249472, +7 700 956 98 10</p>
                <p>Отдел временного трудоустройства<br>
                249670, 249581, 249569, 249671, +7 700 956 98 08</p>
                <p>Отдел занятости молодежи<br>
                249632, 249620, 249639, 248310, 249661, +7 700 956 98 35</p>
                <p>Отдел профессионального обучения (курсы обучения)<br>
                248948, 249309, +7 700 956 98 34</p>
                <p>Отдел по взаимодействию с работодателями<br>
                249655, 248938, 248773, 248771, 248729, 248714, +7 700 956 98 09</p>
                <p>Отдел оказания социальной помощи района «Байконур» (АСП)<br>
                248947, 249659, +7 700 956 98 13</p>
                <p>Отдел оказания социальной помощи района «Есиль» (АСП)<br>
                249649, 248946, +7 700 956 98 16</p>
                <p>Отдел оказания социальной помощи района «Алматы» (АСП)<br>
                248698, 248944, +7 700 956 98 20</p>
                <p>Отдел оказания социальной помощи района «Сарыарка» (АСП)<br>
                248689, 249656, 249647, +7 700 956 98 24</p>
                <p>Отдел содействия в трудоустройстве района «Байконур»<br>
                249638, 248937, 249484, +7 700 956 98 28</p>
                <p>Отдел содействия в трудоустройстве района «Есиль»<br>
                248936, 249629, 249631, +7 700 956 98 30</p>
                <p>Отдел содействия в трудоустройстве района «Алматы»<br>
                249616, 248934, 249623, +7 700 956 98 31</p>
                <p>Отдел содействия в трудоустройстве района «Сарыарка»<br>
                249628, 249627, 248935, +7 700 956 98 33</p>
                <p>Отдел по работе социально-уязвимой категорией граждан<br>
                249605, 249586, 249625, +7 700 956 98 37</p>
                <p>Отдел мониторинга и прогнозирования трудовых ресурсов<br>
                248090, 248940, +7 700 956 98 39</p>
                <p>Отдел сводно-аналитической работы и государственных услуг<br>
                249650, +7 700 956 98 39</p>
                <p>Отдел по взаимодействия со СМИ<br>
                248943</p>
                <p>Отдел правового обеспечения и государственных закупок<br>
                248945, 249645</p>
                <p>Отдел финансового планирования и выплат<br>
                249582, 248312, 249160</p>
                <p>Канцелярия<br>
                249642</p>
                <p><span style="font-size: 14pt;">Адрес: г. Астана, ул. Бейбітшілік 9, 1 этаж (бывший ЦУМ)</span></p>
                <p><iframe class="map" src="https://yandex.ru/map-widget/v1/?lang=ru_RU&amp;scroll=true&amp;um=constructor%3A1fb53c20a7c4e051095ef2206dddb8dca2cbe0a3d44b58b18a459804e67197f2" frameborder="0" allowfullscreen="true" width="100%" height="400px" style="display: block;"></iframe></p>
                        </div>
                    </div>< .entry-content -->
                
                </article><!-- #post-27 -->
                    </div>
                
            </div>
        </div>
    </div>
    

    {% include 'mySite/footer.html' %} 
</body>
</html>