{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{ language_code }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mySite/universal.css' %}">
    <title>{% trans 'О центре' %} - {% trans 'Центр Трудовой мобильности Восточно-Казахстанской области' %}</title>
</head>
<body>
    {% include 'mySite/header.html' %}
    {% include 'mySite/header2.html' %}
    <div class="conteiner">
        <div class="mian-section">
            
        </div>
    </div>
    

    {% include 'mySite/footer.html' %} 
</body>
</html>