{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{ language_code }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mySite/universal.css' %}">
    <link rel="stylesheet" href="{% static 'mySite/header2.css' %}">
    <title>{% trans 'ОБЩЕСТВЕННЫЕ РАБОТЫ' %} - {% trans 'Центр Трудовой мобильности Восточно-Казахстанской области' %}</title>
</head>
<body>
    {% include 'mySite/header.html' %}
    

    <div class="head">
        <div class="container">
            <div class="head-h">
            <h1>{% trans 'ОБЩЕСТВЕННЫЕ РАБОТЫ' %}</h1>
              
 {% load i18n %}
            <p>{% trans 'Коммунальное государственное учреждение «Центр трудовой мобильности» Восточно-Казахстанской области' %}</p>
        </div>
        </div>
    </div>

    <div class="conteiner">
        <div class="mian-section">
            <div class="container">
                {% if language_code == 'ru' %}
                    <p class="white-space-wrap__p">
                    Общественные работы организуются на предприятиях и в организациях всех форм собственности, при этом к участию допускаются работодатели, которые регулярно производят налоговые и другие социальные отчисления, у которых отсутствует просроченная задолженность по заработной плате, и действующие более одного года.

                    Работодатели, осуществляющие деятельность в областных центрах, городах республиканского значения и столице, участвуют в организации общественных работ один раз в течение двух лет.
                    
                    Количество создаваемых временных рабочих мест для организации общественных работ на очередной финансовый год составляет не более 40% от списочной численностью работников, за исключением рабочих мест, создаваемых для инвалидов, лиц, освобожденных из мест лишения свободы, лиц, состоящих на службе пробации.
                    
                    Работодатель посредством «личного кабинета» на Электронной бирже труда подает электронную заявку на организацию общественных работ в центр занятости на очередной финансовый год в срок до 1 ноября текущего финансового года.
                    
                    Размер заработной платы лиц, участвующих в общественных работах, устанавливается местным исполнительным органом по вопросам занятости населения не ниже 20 (двадцати) месячных расчетных показателей, с учетом налогов, обязательных социальных отчислений и компенсации за неиспользованный трудовой отпуск без учета выплат по экологическим надбавкам
                    
                    Оплата труда граждан, которые участвуют в общественных работах, производится центром занятости населения ежемесячно.
                    </p>
                    <a href="https://www.enbek.kz/ru/page/creation-of-subsided-jobs"  class="show-this"><span>Подать заявку</span></a>
                {% else %}
                    <p class="white-space-wrap__p">
                    Қоғамдық жұмыстар барлық меншік нысанындағы кәсіпорындар мен ұйымдарда ұйымдастырылады, бұл ретте жалақысы бойынша мерзімі өткен берешегі жоқ және бір жылдан астам жұмыс істейтін салықтық және басқа да әлеуметтік аударымдарды тұрақты жүргізетін жұмыс берушілер қатысуға жіберіледі.

                    Облыс орталықтарында, республикалық маңызы бар қалаларда және Астанада қызметін жүзеге асыратын жұмыс берушілер екі жыл ішінде бір рет қоғамдық жұмыстарды ұйымдастыруға қатысады.
                    
                    Кезекті қаржы жылына қоғамдық жұмыстарды ұйымдастыру үшін құрылатын уақытша жұмыс орындарының саны мүгедектер, бас бостандығынан айыру орындарынан босатылған адамдар, пробация қызметінде тұрған адамдар үшін құрылатын жұмыс орындарын қоспағанда, жұмыскерлердің тізімдік санының 40% - нан аспайды.
                    
                    Жұмыс беруші электрондық еңбек биржасындағы "жеке кабинет" арқылы ағымдағы қаржы жылының 1 қарашасына дейінгі мерзімде кезекті қаржы жылына арналған Жұмыспен қамту орталығына қоғамдық жұмыстарды ұйымдастыруға электрондық өтінім береді.
                    
                    Қоғамдық жұмыстарға қатысатын адамдардың жалақысының мөлшерін салықтарды, міндетті әлеуметтік аударымдарды және экологиялық үстемеақылар бойынша төлемдерді есепке алмағанда пайдаланылмаған еңбек демалысы үшін өтемақыны ескере отырып, халықты жұмыспен қамту мәселелері жөніндегі жергілікті атқарушы орган 20 (жиырма) айлық есептік көрсеткіштен төмен емес белгілейді.
                    
                    Қоғамдық жұмыстарға қатысатын азаматтардың еңбегіне ақы төлеуді халықты жұмыспен қамту орталығы ай сайын жүргізеді.
                    </p>
                    <a href="https://www.enbek.kz/kz/page/creation-of-subsided-jobs"  class="show-this"><span>Өтініш беру</span></a>
                {% endif %}

                    
                 <div class="video-player">
                    <iframe width="1272" height="720" src="https://www.youtube.com/embed/rWvyakXQiKk" title="Работодателям_Организация субсидируемых рабочих мест" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            </div>
        </div>
    </div>
    

    {% include 'mySite/footer.html' %} 
</body>
</html>