{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{ language_code }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mySite/universal.css' %}">
    <link rel="stylesheet" href="{% static 'mySite/header2.css' %}">
    <title>{% trans 'Контракт поколений' %} - {% trans 'Центр Трудовой мобильности Восточно-Казахстанской области' %}</title>
</head>
<body>
    {% include 'mySite/header.html' %}
    

    <div class="head">
        <div class="container">
            <div class="head-h">
            <h1>{% trans 'Контракт поколений' %}</h1>
              
            {% load i18n %}
            <p>{% trans 'Коммунальное государственное учреждение «Центр трудовой мобильности» Восточно-Казахстанской области' %}</p>
        </div>
        </div>
    </div>

    <div class="conteiner">
        <div class="mian-section">
            <div class="container">
                {% if language_code == 'ru' %}
                <p class="white-space-wrap__p">
                    Участниками проекта являются выпускники учебных заведений, завершивших обучение в течение 2 (двух) лет, и не старше 29 (двадцати девяти) лет;

                    Рабочие места по проектам «Контракт поколений» для выпускников учебных заведений создаются по полученной ими профессии (специальности) или родственной профессии (специальности), относящейся к той же группе занятий Национального классификатора занятий.
                    
                    Работодатель за лицом, трудоустроенным в рамках проекта «Контракт поколений» закрепляет наставника из числа опытных работников для передачи профессиональных знаний и опыта работы. Для трудоустройства по проекту «Контракт поколений» претендент подает в центр занятости заявление по форме и с приложением следующих документов:
                    
                    1) документ, удостоверяющий личность;
                    
                    2) документы, подтверждающие трудовую деятельность (при наличии);
                    
                    3) документ об образовании (обязательно)
                    
                    После завершения срока участия в проекте «Контакт поколений» переводит безработного на вакантное рабочее место наставника или на другое вакантное место в соответствии со статьей 38 Трудового кодекса
                    
                    Размер субсидии в месяц (заработной платы) для лиц, трудоустроенных в рамках проектов «Контракт поколений» не менее 30 (тридцати) МРП
                    
                    Участие в проекте «Контракт поколений» не более 6 месяцев
                </p>
                
                    <!-- <a href="Ссылка"  class="show-this"><span>Просмотр вакансии </span></a> -->
                    <div class="video-player">
                        <iframe width="500" height="281" src="https://www.youtube.com/embed/U-vgj5W_D7Q" title="Видеоинструкция по получению государственных мер поддержки занятости на Электронной бирже труда" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                      </div>
                {% else %}
                <p class="white-space-wrap__p">
                    2 (екі) жыл ішінде оқуды аяқтаған және 29 (жиырма тоғыз) жастан аспаған оқу орындарының түлектері жобаға қатысушылар болып табылады;

                    “Ұрпақтар келісімшарты” жобалары бойынша жұмыс орындары оқу орындарының түлектері үшін ұлттық кәсіптер сыныптауышының сол сабақтар тобына жататын, олар алған кәсіп (мамандық) немесе ұқсас кәсіп (мамандық) бойынша құрылады.
                    
                    Жұмыс беруші “Ұрпақтар келісімшарты” жобасы шеңберінде жұмысқа орналасқан адамға кәсіби білімі мен жұмыс тәжірибесін беру үшін тәжірибелі қызметкерлер қатарынан тәлімгерді бекітеді. “Ұрпақтар келісімшарты” жобасы бойынша жұмысқа орналасу үшін үміткер жұмыспен қамту орталығына мынадай құжаттарды қоса бере отырып, нысан бойынша өтініш береді:
                    
                    1) жеке басын куәландыратын құжат;
                    
                    2) еңбек қызметін растайтын құжаттар (бар болса);
                    
                    3) білімі туралы құжат (міндетті)
                    
                    “Ұрпақтар байланысы” жобасына қатысу мерзімі аяқталғаннан кейін жұмыссызды Еңбек кодексінің 38-бабына сәйкес тәлімгердің бос жұмыс орнына немесе басқа бос орынға ауыстырады
                    
                    “Ұрпақтар келісімшарты” жобалары шеңберінде жұмысқа орналасқан адамдар үшін айына субсидия (жалақы) мөлшері кемінде 30 (отыз) АЕК
                    
                    “Ұрпақтар келісімшарты” жобасына қатысу 6 айдан аспайды
                </p>
                <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/_xWnOrz0y0E" title="Электрондық еңбек биржасында жұмыспен қамтуды қолдаудың мемлекеттік шараларын алу" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> </div>
                {% endif %}

            </div>
        </div>
    </div>
    

    {% include 'mySite/footer.html' %} 
</body>
</html>