{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{ language_code }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mySite/universal.css' %}">
    <link rel="stylesheet" href="{% static 'mySite/header2.css' %}">
    <title>{% trans 'ИНФОРМАЦИЯ ПО ВЫДАЧИ ГРАНТОВ ДЛЯ РЕАЛИЗАЦИИ НОВЫХ БИЗНЕС-ИДЕЙ ПО РАЗВИТИЮ ПРЕДПРИНИМАТЕЛЬСТВА НА 2021-2025 ГОД' %} - {% trans 'Центр Трудовой мобильности Восточно-Казахстанской области' %}</title>
</head>
<body>
    {% include 'mySite/header.html' %}
    

    <div class="head">
        <div class="container">
            <div class="head-h">
            <h1>{% trans 'ИНФОРМАЦИЯ ПО ВЫДАЧИ ГРАНТОВ ДЛЯ РЕАЛИЗАЦИИ НОВЫХ БИЗНЕС-ИДЕЙ ПО РАЗВИТИЮ ПРЕДПРИНИМАТЕЛЬСТВА НА 2021-2025 ГОД' %}</h1>
              
            {% load i18n %}
            <p>{% trans 'Коммунальное государственное учреждение «Центр трудовой мобильности» Восточно-Казахстанской области' %}</p>
        </div>
        </div>
    </div>

    <div class="conteiner">
        <div class="mian-section">
            <div class="container">
                {% if language_code == 'ru' %}
                <p class="white-space-wrap__p">
                    Гранты предоставляются социально уязвимым группам населения при условии их регистрации до подачи заявления на выдачу гранта в качестве безработного или индивидуального предпринимателя, срок государственной регистрации которого в качестве индивидуального предпринимателя составляет менее трех лет.

                    Гранты предоставляются для реализации новых-бизнес идей, на безвозмездной и безвозвратной основе в размере до 400-кратного месячного расчетного показателя, а также гранты предоставляются однократно.
                    
                    Претендент должен иметь сертификат об обучении основам предпринимательства по проекту «Бастау Бизнес» со сроком не более 3 лет.
                    
                    Для прохождения обучения основам предпринимательства потенциальный участник регистрируется на портале skills.enbek.kz.
                    
                    Принятие заявлений для получения грантов осуществляется по потокам на портале business.enbek.kz.
                    
                    Гранты предоставляются социально уязвимым группам населения, к которым относятся::
                    
                    получатели адресной социальной помощи;
                    получатели пособия по многодетности и (или) его (ее) супруг (супруга);
                    получатели социального пособия по случаю потери кормильца;
                    переселенцы;
                    кандасы;
                    лица с инвалидностью, не имеющие противопоказания к труду;
                    лица, воспитывающие ребенка с инвалидностью (детей с инвалидностью) и (или) его (ее) супруг (супруга).
                    Обязательные условия получения гранта:
                    
                    1) наличие результатов на соответствие претендента установленным требованиям на Портале;
                    
                    2) наличие положительного решения комиссии.
                </p>
                <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/u6HbAW5sVMw?si=n-dwPP2IekY8AsaX" title="Видеоинструкция по получению государственных мер поддержки занятости на Электронной бирже труда" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                {% else %}
                <p class="white-space-wrap__p">
                    Гранттар жұмыссыз немесе жеке кәсіпкер ретінде мемлекеттік тіркеу мерзімі үш жылдан аз жеке кәсіпкер ретінде грант алуға өтініш бергенге дейін тіркелген жағдайда халықтың әлеуметтік осал топтарына беріледі.

                    Гранттар жаңа бизнес идеяларды іске асыру үшін өтеусіз және қайтарымсыз негізде 400 еселенген айлық есептік көрсеткішке дейінгі мөлшерде беріледі, сондай-ақ гранттар бір рет беріледі.
                    
                    Үміткердің «Бастау Бизнес» жобасы бойынша кәсіпкерлік негіздеріне оқыту туралы 3 жылдан аспайтын мерзімге сертификаты болуы тиіс.
                    
                    Кәсіпкерлік негіздеріне оқытудан өту үшін әлеуетті қатысушы  skills.enbek.kz порталында тіркеледі.
                    
                    Гранттар алу үшін өтініштерді қабылдау лектер бойынша business.enbek.kz порталында жүзеге асырылады.
                    
                    Гранттар халықтың әлеуметтік осал топтарына беріледі, оларға келесі топтар жатады:
                    
                    атаулы әлеуметтік көмек алушылар;
                    көп балалы отбасыларға және (немесе) оның жұбайына (зайыбына) төленетін жәрдемақыларды алушылар;
                    асыраушысынан айырылған жағдайда төленетін әлеуметтік жәрдемақыларды алушылар;
                    қоныс аударушылар;
                    қандастар;
                    еңбекке қарсы көрсетілімдері жоқ мүгедектігі бар адамдар;
                    мүгедектігі бар бала (мүгедектігі бар балаларды) тәрбиелеп отырған адамдар және (немесе) оның жұбайы (зайыбы) жатады.
                    Грант алудың міндетті шарттары:
                    
                    1) үміткердің порталда белгіленген талаптарға сәйкестігіне нәтижелердің болуы;
                    
                    2) комиссияның оң шешімінің болуы.
                </p>
                <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/_xWnOrz0y0E" title="Электрондық еңбек биржасында жұмыспен қамтуды қолдаудың мемлекеттік шараларын алу" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                 </div>
                {% endif %}

            </div>
        </div>
    </div>
    

    {% include 'mySite/footer.html' %} 
</body>
</html>