{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{ language_code }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mySite/universal.css' %}">
    <link rel="stylesheet" href="{% static 'mySite/header2.css' %}">
    <title>{% trans 'Молодежная практика' %} - {% trans 'Центр Трудовой мобильности Восточно-Казахстанской области' %}</title>
</head>
<body>
    {% include 'mySite/header.html' %}
    

    <div class="head">
        <div class="container">
            <div class="head-h">
            <h1>{% trans 'Молодежная практика' %}</h1>
              
            {% load i18n %}
            <p>{% trans 'Коммунальное государственное учреждение «Центр трудовой мобильности» Восточно-Казахстанской области' %}</p>
        </div>
        </div>
    </div>

    <div class="conteiner">
        <div class="mian-section">
            <div class="container">
                {% if language_code == 'kk' %}
                <p class="white-space-wrap__p">
                    Жастар практикасы өткен 3 (үш) жыл ішінде оқуын аяқтаған және 35 (отыз бес) жастан аспаған, алған кәсібі (мамандығы) бойынша техникалық және кәсіптік, орта білімнен кейінгі, жоғары және жоғары оқу орнынан кейінгі білім беру бағдарламаларын іске асыратын білім беру ұйымдарының түлектері қатарындағы жұмыссыздарға арнайы арналған.

                    Жастар практикасы бойынша жұмыс уақытша сипатқа ие. Жастар практикасының ұзақтығы 12 (он екі) айдан аспайды.
                    
                    Жұмыссыздардың жалақысын қаржыландыру еңбек шартына сәйкес 12 (он екі) айдан аспайтын мерзімде жүзеге асырылады.
                    
                    Жастар практикасына қатысу үшін жұмыссыздар жұмыспен қамту орталықтарына осы Қағидаларға 2-қосымшаға сәйкес нысан бойынша мынадай құжаттарды қоса бере отырып өтініш береді:
                    
                    1) жеке басын куәландыратын құжат;
                    
                    2) Қазақстан Республикасы Еңбек кодексінің (бұдан әрі – Еңбек кодексі) 35-бабына сәйкес еңбек қызметін растайтын құжаттар (бар болса);
                    
                    3) Техникалық және кәсіптік, орта білімнен кейінгі, жоғары және жоғары оқу орнынан кейінгі білімнің болуын растайтын құжат
                    
                    Жұмыссыздардың айлық жалақысының мөлшері экологиялық үстемеақылар бойынша төлемдерді есепке алмағанда, салықтарды, міндетті әлеуметтік аударымдарды, пайдаланылмаған еңбек демалысы үшін өтемақыларды және банк қызметтерін ескере отырып, кемінде 30 (отыз) айлық есептік көрсеткішті құрайды.
                    
                    Жұмыс беруші жұмыссызға кәсіби білімі мен жұмыс тәжірибесін беру үшін тәжірибелі қызметкерлер қатарынан тәлімгерді бекітеді.
                    
                    Жастар практикасынан өту кезеңі жұмыссыздың еңбек өтіліне есептеледі.
                </p>
                <a href="https://enbek.kz/kz/search/vac?region_id=63&stag%5B00000%2430MP%5D=00000%2430MP"  class="show-this"><span>Жұмыс көрінісі </span></a>
                <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/_xWnOrz0y0E" title="Электрондық еңбек биржасында жұмыспен қамтуды қолдаудың мемлекеттік шараларын алу" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> </div>
                {% else %}
                <p class="white-space-wrap__p">
                    Молодежная практика предназначена специально для безработных, из числа выпускников организаций образования, реализующих образовательные программы технического и профессионального, послесреднего, высшего и послевузовского образования по полученной профессии (специальности), завершивших обучение в течение 3 (трех) предыдущих лет, и не старше 35 (тридцати пяти) лет.

                    Работа по молодежной практике носит временный характер. Продолжительность молодежной практики составляет не более 12 (двенадцати) месяцев.

                    Финансирование заработной платы безработным осуществляется не более 12 (двенадцати) месяцев согласно трудовому договору.

                    Для участия в молодежной практике безработные подают в центры занятости заявление по форме согласно приложению 2 к настоящим Правилам, с приложением следующих документов:

                    1) документ, удостоверяющий личность;

                    2) документы, подтверждающие трудовую деятельность в соответствии со статьей 35 Трудового кодекса Республики Казахстан (далее – Трудовой кодекс) (при наличии);

                    3) документ, подтверждающий наличие технического и профессионального, послесреднего, высшего и послевузовского образования

                    Размер заработной платы безработного в месяц составляет не менее 30 (тридцати) месячных расчетных показателей с учетом налогов, обязательных социальных отчислений, компенсаций за неиспользованный трудовой отпуск и банковских услуг, без учета выплат по экологическим надбавкам.

                    Работодатель за безработным закрепляет наставника из числа опытных работников для передачи профессиональных знаний и опыта работы.

                    Период прохождения молодежной практики засчитывается в трудовой стаж безработного.
                </p>
                <a href="https://enbek.kz/ru/search/vac?region_id=63&stag%5B00000%2430MP%5D=00000%2430MP"  class="show-this"><span>Просмотр вакансии </span></a>
                <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/U-vgj5W_D7Q" title="Видеоинструкция по получению государственных мер поддержки занятости на Электронной бирже труда" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                {% endif %}


            </div>
        </div>
    </div>
    

    {% include 'mySite/footer.html' %} 
</body>
</html>