{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{ language_code }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mySite/universal.css' %}">
    <link rel="stylesheet" href="{% static 'mySite/header2.css' %}">
    <title>{% trans 'Общественные работы' %} - {% trans 'Центр Трудовой мобильности Восточно-Казахстанской области' %}</title>
</head>
<body>
    {% include 'mySite/header.html' %}
    

    <div class="head">
        <div class="container">
            <div class="head-h">
            <h1>{% trans 'Общественные работы' %}</h1>
              
            {% load i18n %}
            <p>{% trans 'Коммунальное государственное учреждение «Центр трудовой мобильности» Восточно-Казахстанской области' %}</p>
        </div>
        </div>
    </div>

    <div class="conteiner">
        <div class="mian-section">
            <div class="container">
                {% if language_code == 'ru' %}
                <p class="white-space-wrap__p">
                    Общественные работы организуются центрами занятости населения для обеспечения безработных временной занятостью.

                    Продолжительность участия в общественных работах составляет не более 12 месяцев.
                    
                    Право на участие в общественных работах имеют:
                    
                    1) безработные
                    
                    2) студенты и учащиеся старших классов общеобразовательных школ в свободное от учебы время, в работах, не причиняющих вреда здоровью и не нарушающих процесса обучения;
                    
                    3) лица, не обеспеченные работой в связи с простоем.
                    
                    Безработные, самовольно, без уважительной причины прекратившие участие в общественных работах, снимаются с учета в качестве безработных и повторно направляются на общественные работы только по истечении трех месяцев со дня повторной регистрации в качестве безработных.
                    
                    Работодатель заключает трудовой договор с претендентом, принятым на общественные работы, в соответствии со статьей 33 Трудового кодекса. Работодатель вносит информацию о заключении и прекращении с лицом, участвующим в общественных работах, трудового договора в единую систему учета трудовых договоров в порядке, предусмотренном Трудовым кодексом.
                    
                    Период трудовой деятельности лица, участвующего в общественных работах, засчитывается в его трудовой стаж.
                    
                    Оплата труда граждан, которые участвуют в общественных работах, производится центром занятости населения ежемесячно.
                </p>
                <a href="https://enbek.kz/ru/search/vac?region_id=63&stag%5B00000%2430PW%5D=00000%2430PW"  class="show-this"><span>Просмотр вакансии </span></a>
                <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/U-vgj5W_D7Q" title="Видеоинструкция по получению государственных мер поддержки занятости на Электронной бирже труда" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                {% else %}
                <p class="white-space-wrap__p">
                    Қоғамдық жұмыстарды халықты жұмыспен қамту орталықтары жұмыссыздарды уақытша жұмыспен қамтамасыз ету үшін ұйымдастырады.

                    Қоғамдық жұмыстарға қатысу ұзақтығы 12 айдан аспайды.
                    
                    Қоғамдық жұмыстарға қатысуға құқығы бар:
                    
                    1) жұмыссыздар
                    
                    2) оқудан бос уақытта, денсаулығына зиян келтірмейтін және оқу процесін бұзбайтын жұмыстарда студенттер мен жалпы білім беретін мектептердің жоғары сынып оқушылары;
                    
                    3) тоқтап тұруға байланысты жұмыспен қамтамасыз етілмеген адамдар.
                    
                    Қоғамдық жұмыстарға қатысуды дәлелсіз себептермен өз еркімен тоқтатқан жұмыссыздар жұмыссыздар ретінде есептен шығарылады және жұмыссыздар ретінде қайта тіркелген күннен бастап үш ай өткен соң ғана қоғамдық жұмыстарға қайта жіберіледі.
                    
                    Жұмыс беруші Еңбек кодексінің 33-бабына сәйкес қоғамдық жұмыстарға қабылданған үміткермен еңбек шартын жасасады. Жұмыс беруші қоғамдық жұмыстарға қатысатын адаммен еңбек шартын жасасу және тоқтату туралы ақпаратты Еңбек кодексінде көзделген тәртіппен еңбек шарттарын есепке алудың бірыңғай жүйесіне енгізеді.
                    
                    Қоғамдық жұмыстарға қатысатын адамның еңбек қызметі кезеңі оның еңбек өтіліне есептеледі.
                    
                    Қоғамдық жұмыстарға қатысатын азаматтардың еңбегіне ақы төлеуді халықты жұмыспен қамту орталығы ай сайын жүргізеді.
                </p>
                <a href="https://enbek.kz/kz/search/vac?region_id=63&stag%5B00000%2430PW%5D=00000%2430PW"  class="show-this"><span>Жұмыс көрінісі </span></a>
                <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/_xWnOrz0y0E" title="Электрондық еңбек биржасында жұмыспен қамтуды қолдаудың мемлекеттік шараларын алу" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> </div>
                {% endif %}

            </div>
        </div>
    </div>
    

    {% include 'mySite/footer.html' %} 
</body>
</html>