{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{ language_code }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mySite/universal.css' %}">
    <link rel="stylesheet" href="{% static 'mySite/header2.css' %}">
    <title>{% trans 'ПОРЯДОК ОБУЧЕНИЯ ОСНОВАМ ПРЕДПРИНИМАТЕЛЬСТВА «БАСТАУ БИЗНЕС»' %} - {% trans 'Центр Трудовой мобильности Восточно-Казахстанской области' %}</title>
</head>
<body>
    {% include 'mySite/header.html' %}
    

    <div class="head">
        <div class="container">
            <div class="head-h">
            <h1>{% trans 'ПОРЯДОК ОБУЧЕНИЯ ОСНОВАМ ПРЕДПРИНИМАТЕЛЬСТВА «БАСТАУ БИЗНЕС»' %}</h1>
              
            {% load i18n %}
            <p>{% trans 'Коммунальное государственное учреждение «Центр трудовой мобильности» Восточно-Казахстанской области' %}</p>
        </div>
        </div>
    </div>

    <div class="conteiner">
        <div class="mian-section">
            <div class="container">
                {% if language_code == 'ru' %}
                <p class="white-space-wrap__p">

                    Обучение проходят лица, определенные пунктом 1 статьи 23 Закона Республики Казахстан «О занятости населения» и в соответствии с постановлением Правительства Республики Казахстан от 11 апреля 2019 года № 178 «Об определении отдельных категорий занятых лиц».
                    При этом, претендент должен относиться к категории:
                    • безработные лица;
                    • начинающие и действующие предприниматели;
                    • сокращаемые работники, не достигшие пенсионного возраста;
                    • лица, самостоятельно осуществляющие деятельность по производству (реализации) товаров, выполнению работ и оказанию услуг с целью извлечения дохода без регистрации в качестве индивидуального предпринимателя, и (или) бездействующие индивидуальные предприниматели;
                    • лица, самостоятельно осуществляющие неоплачиваемую деятельность в семейном предпринимательстве;
                    • лица, самостоятельно осуществляющие деятельность по производству продукции в личном подсобном хозяйстве для продажи, с доходами ниже величины прожиточного минимума;
                    • члены производственных кооперативов с доходами ниже величины прожиточного минимума.
                    Для обучения основам предпринимательства лица, регистрируются на портале business.enbek.kz.
                    Проверка на соответствие категориям лиц, осуществляется на портале business.enbek.kz в автоматическом режиме, после предоставляется доступ к онлайн курсу «Обучение основам предпринимательства в рамках проекта «Бастау Бизнес» на платформе skills.enbek.kz
                    Продолжительность курса онлайн обучения составляет не более 14 (четырнадцать) календарных дней с момента начала курса обучения.
                    Курс онлайн обучения предоставляется на безвозмездной основе. По итогам курса проводится итоговое тестирование. Лицу, прекратившему обучение либо не прошедшему итоговое тестирование, предоставляется возможность повторного участия в онлайн обучении не более 2 (двух) раз в течение календарного года.
                    Лицу, получившему более 70 процентов верных ответов от общего количества вопросов, на платформе выдается электронный сертификат о завершении обучения с присвоением уникального номера. Сертификат отображается в личном кабинете.
                    Сертификат о завершении обучения действует в течение трех лет со дня его получения.

                    <table style="width: 67.0229%; height: 1983px;" width="1030">
                        <tbody>
                        <tr style="height: 24px;">
                        <td style="width: 2.61676%; height: 24px;" width="47"><strong>№</strong></td>
                        <td style="width: 32.4697%; height: 24px;" width="359"><strong>Вопрос</strong></td>
                        <td style="width: 52.3078%; height: 24px;" width="624"><strong>Ответ </strong></td>
                        </tr>
                        <tr style="height: 194px;">
                        <td style="width: 2.61676%; height: 194px;" width="47"><strong>&nbsp;1.</strong></td>
                        <td style="width: 32.4697%; height: 194px;" width="359"><strong>Регистрация на портале</strong></td>
                        <td style="width: 52.3078%; height: 194px;" width="624">На Портале реализована двухэтапная регистрация пользователя:<p></p>
                        <p>1) Пользователь регистрируется на Портале по e-mail или номеру мобильного телефона. Если пользователь ранее был зарегистрирован на Электронной бирже труда (enbek.kz), то он может использовать имеющийся у него аккаунт для входа на Портал;</p>
                        <p>2) В процессе регистрации, после подтверждения электронного адреса, пользователю необходимо указать свой ИИН для дальнейшей идентификации.</p></td>
                        </tr>
                        <tr style="height: 60px;">
                        <td style="width: 2.61676%; height: 60px;" width="47"><strong>&nbsp;2.</strong></td>
                        <td style="width: 32.4697%; height: 60px;" width="359"><strong>При регистрации ввели ИИН, но Портал пишет не удалось найти сведения по Вашему ИИН</strong></td>
                        <td style="width: 52.3078%; height: 60px;" width="624">Это означает, что пользователь находится на тестовом сайте, который не осуществляет запись на курс обучения. Правильная ссылка на Портал business.enbek.kz</td>
                        </tr>
                        <tr style="height: 116px;">
                        <td style="width: 2.61676%; height: 116px;" width="47"><strong>&nbsp;3.</strong></td>
                        <td style="width: 32.4697%; height: 116px;" width="359"><strong>Почему трудоустроенным гражданам нельзя проходить обучение по проекту «Бастау Бизнес»</strong></td>
                        <td style="width: 52.3078%; height: 116px;" width="624">В соответствии со статьей 23 Закона Республики Казахстан «О занятости населения» меры, направленные на содействие предпринимательским инициативам граждан, к коим относится проект «Бастау Бизнес», оказываются зарегистрированным безработным и отдельным категориям занятых лиц, определенным Правительством Республики Казахстан Постановлением №178.</td>
                        </tr>
                        <tr style="height: 128px;">
                        <td style="width: 2.61676%; height: 128px;" width="47"><strong>&nbsp;4.</strong></td>
                        <td style="width: 32.4697%; height: 128px;" width="359"><strong>Хотели участвовать в проекте «Бастау Бизнес», но при проверке статуса выходит, что имеется активный трудовой договор</strong><p></p>
                        <p><strong>&nbsp;</strong></p></td>
                        <td style="width: 52.3078%; height: 128px;" width="624">Это означает что в ИС «Единая система учета трудовых договоров» есть запись о наличии действующего трудового договора. Пользователю необходимо&nbsp; проверить есть ли не расторгнутый Электронный трудовой договор в&nbsp; egov.kz (либо приложение e-gov mobile) и в случае необходимости обратиться к бывшему работодателю для его расторжения.</td>
                        </tr>
                        <tr style="height: 96px;">
                        <td style="width: 2.61676%; height: 96px;" width="47"><strong>&nbsp;5.</strong></td>
                        <td style="width: 32.4697%; height: 96px;" width="359"><strong>Могут ли участники активных мер содействия занятости принять участие в проекте «Бастау Бизнес»?</strong></td>
                        <td style="width: 52.3078%; height: 96px;" width="624">Не могут, за исключением лиц, участвующих в добровольном переселении, но чтобы участник добровольного переселения смог участвовать в обучении по Бастау Бизнес необходимо сначала закрыть меру Переселение в АИС «Рынок труда» (если договор заключен и заявитель уже переехал).</td>
                        </tr>
                        <tr style="height: 400px;">
                        <td style="width: 2.61676%; height: 400px;" width="47"><strong>&nbsp;6.</strong></td>
                        <td style="width: 32.4697%; height: 400px;" width="359"><strong>Что делать если Вы уже записались на курс и приступили к обучению, а у Вас выходит уведомление, что есть активная мера? </strong></td>
                        <td style="width: 52.3078%; height: 400px;" width="624">Чтобы продолжить обучение, если Вы уже записались на курс, не нужно заново проходить повторную проверку на Портале http://business.enbek.kz/ru.<p></p>
                        <p>Для того, чтобы продолжить обучение на зарегистрированном вами курсе вам необходимо авторизоваться на https://skills.enbek.kz/ru «Войти» — «Обучающийся» — ввести логин и пароль и пройти в ваш личный кабинет путем нажатия на кнопку «Кабинет» в правом верхнем углу. Далее вы должны выбрать курс «Бастау Бизнес» во вкладке «Курсы». При нажатии на курс будут отображаться вкладки «Описание», «Уроки», «Автор».</p>
                        <p>Для начала обучения перейдите на соответствующий урок во вкладке «Уроки». При завершении урока нужно нажать на кнопку «Завершить урок и перейти к следующему». После изучения всех уроков и завершения всех модулей, вам необходимо сдать итоговое тестирование. После успешной сдачи тестирования и предоставления отзыва, вам будет доступен сертификат о завершении обучения во вкладке «Сертификаты» вашего личного кабинета.</p></td>
                        </tr>
                        <tr style="height: 48px;">
                        <td style="width: 2.61676%; height: 48px;" width="47"><strong>&nbsp;7.</strong></td>
                        <td style="width: 32.4697%; height: 48px;" width="359"><strong>Записанные на курс люди не появились в АИС «Рынок труда»</strong></td>
                        <td style="width: 52.3078%; height: 48px;" width="624">Данные по обучающимся или обучившимся появятся в Рынке труда в ближайшее время, по всем, кто записался на курс без исключений.</td>
                        </tr>
                        <tr style="height: 96px;">
                        <td style="width: 2.61676%; height: 96px;" width="47"><strong>&nbsp;8.</strong></td>
                        <td style="width: 32.4697%; height: 96px;" width="359"><strong>Ошибка при отправке отчета о целевом использовании средств гранта</strong></td>
                        <td style="width: 52.3078%; height: 96px;" width="624">В связи с переходом на новую версию Портала ведутся технические работы по переносу исторических данных. В этой связи сдача отчетов о целевом использовании гранта сейчас недоступно. По мере завершения работ сообщим обязательно.</td>
                        </tr>
                        <tr style="height: 72px;">
                        <td style="width: 2.61676%; height: 72px;" width="47"><strong>&nbsp;9.</strong></td>
                        <td style="width: 32.4697%; height: 72px;" width="359"><strong>Сообщение «Ваши данные должны пройти проверку в государственных базах данных…»</strong></td>
                        <td style="width: 52.3078%; height: 72px;" width="624">При взаимодействии с другими базами данными ИС ГО, могут возникнуть технические неполадки. Необходимо позже повторно пройти проверку.</td>
                        </tr>
                        <tr style="height: 29px;">
                        <td style="width: 87.3942%; height: 29px;" colspan="3" width="1030">
                        <p style="text-align: center;"><span style="font-size: 14pt;"><strong>Вопросы по </strong><strong>skills</strong><strong>.</strong><strong>enbek</strong><strong>.</strong><strong>kz</strong></span></p>
                        </td>
                        </tr>
                        <tr style="height: 120px;">
                        <td style="width: 2.61676%; height: 120px;" width="47"><strong>&nbsp;1.</strong></td>
                        <td style="width: 32.4697%; height: 120px;" width="359"><strong>Если не переходит на следующий модуль и выходит уведомление «Сначала завершите все уроки предыдущего модуля»</strong></td>
                        <td style="width: 52.3078%; height: 120px;" width="624">При прохождении модуля необходимо нажимать на кнопку «Завершить урок и перейти к следующему» в каждом уроке. Также необходимо убедиться, что все значки пройденных уроков отмечены зеленой галочкой, так как система засчитывает прогресс и откроет доступ к следующему модулю по критерию «зеленая галочка».</td>
                        </tr>
                        <tr style="height: 120px;">
                        <td style="width: 2.61676%; height: 120px;" width="47"><strong>&nbsp;2.</strong></td>
                        <td style="width: 32.4697%; height: 120px;" width="359"><strong>Необходимо ли в день проходить только один модуль?</strong></td>
                        <td style="width: 52.3078%; height: 120px;" width="624">Онлайн обучение предлагает выбор свободного темпа освоения материала. Все зависит от вашего темпа обучения и прохождения промежуточного тестирования. Не имеется ограничений по количеству пройденных модулей за один день, в то же время весь курс с итоговым тестированием необходимо пройти за 14 дней.</td>
                        </tr>
                        <tr style="height: 96px;">
                        <td style="width: 2.61676%; height: 96px;" width="47"><strong>&nbsp;3.</strong></td>
                        <td style="width: 32.4697%; height: 96px;" width="359"><strong>Указано что длительность урока 50 минут, но видео урока длится 5-7 минут </strong></td>
                        <td style="width: 52.3078%; height: 96px;" width="624">Все обучающие материалы: видеоуроки, презентационный и лекционный материал — элементы процесса обучения. Установлен регламент 50 минут на ознакомление с всеми материалами урока. В зависимости от усвоения материала вы можете завершить урок раньше чем за 50 минут.</td>
                        </tr>
                        <tr style="height: 48px;">
                        <td style="width: 2.61676%; height: 48px;" width="47"><strong>&nbsp;4.</strong></td>
                        <td style="width: 32.4697%; height: 48px;" width="359"><strong>Сколько вопросов на промежуточном тестировании?</strong></td>
                        <td style="width: 52.3078%; height: 48px;" width="624">Количество вопросов промежуточного тестирования каждого модуля может быть разным в зависимости от количества уроков и сложности изучаемого материала</td>
                        </tr>
                        <tr style="height: 120px;">
                        <td style="width: 2.61676%; height: 120px;" width="47"><strong>&nbsp;5.</strong></td>
                        <td style="width: 32.4697%; height: 120px;" width="359"><strong>Как сдать промежуточное тестирование?</strong></td>
                        <td style="width: 52.3078%; height: 120px;" width="624">Для перехода на следующий модуль необходимо нажать на Промежуточное тестирование, ответить на все вопросы путем выбора варианта ответа и нажать на Завершить. При наборе не менее 70% правильных ответов промежуточное тестирование сдано. Количество попыток пересдачи промежуточного тестирования не ограничено</td>
                        </tr>
                        <tr style="height: 48px;">
                        <td style="width: 2.61676%; height: 48px;" width="47"><strong>&nbsp;6.</strong></td>
                        <td style="width: 32.4697%; height: 48px;" width="359"><strong>Сколько вопросов на итоговом тестировании?</strong></td>
                        <td style="width: 52.3078%; height: 48px;" width="624">Итоговое тестирование состоит из 25 вопросов. У вас имеется 60 минут для прохождения итогового тестирования</td>
                        </tr>
                        <tr style="height: 48px;">
                        <td style="width: 2.61676%; height: 48px;" width="47"><strong>&nbsp;7.</strong></td>
                        <td style="width: 32.4697%; height: 48px;" width="359"><strong>Сколько раз можно пересдать итоговое тестирование?</strong></td>
                        <td style="width: 52.3078%; height: 48px;" width="624">При первой неуспешной сдаче итогового тестирования, у вас остается еще 2 (две) попытки пересдачи теста.</td>
                        </tr>
                        <tr style="height: 120px;">
                        <td style="width: 2.61676%; height: 120px;" width="47"><strong>&nbsp;8.</strong></td>
                        <td style="width: 32.4697%; height: 120px;" width="359"><strong>Что делать если не сдали итоговое тестирование?</strong></td>
                        <td style="width: 52.3078%; height: 120px;" width="624">Если вы использовали все попытки пересдачи итогового тестирования, то у вас имеется возможность принять повторное участие в обучении не более 2 (двух) раз в течение текущего календарного года. Для повторного прохождения курса необходимо заново пройти проверку на Портале Бизнес Енбек и записаться на курс.</td>
                        </tr>
                        </tbody>
                        </table>
                </p>

                    <!-- <a href="Ссылка"  class="show-this"><span>Просмотр вакансии </span></a> -->
                 <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/u6HbAW5sVMw?si=n-dwPP2IekY8AsaX" title="Видеоинструкция по получению государственных мер поддержки занятости на Электронной бирже труда" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                {% else %}
                <p class="white-space-wrap__p">
   
                <p>Кәсіпкерлік негіздеріне оқытудан «Халықты жұмыспен қамту туралы» Қазақстан Республикасы Заңының 23-бабының 1-тармағы және №178 «Жұмыспен қамтылған адамдардың санаттарын айқындау туралы» Қазақстан Республикасы үкіметінің 2019 жылғы 11 сәуірдегі №2019 «қаулысына сәйкес көрсетілген тұлғалар өтеді.<br>
                Бұл ретте үміткер төмендегі санаттардың бірінен болуы керек<br>
                • жұмыссыз тұлғалар;<br>
                • ісін жаңадан бастаған және жұмыс істеп тұрған кәсіпкерлер;<br>
                • зейнеткерлік жасқа толмаған жұмыстан қысқаруға жататын қызметкерлер;<br>
                • дара кәсіпкер ретінде тіркелмей табыс алу мақсатында тауарларды (өндіру) өткізу, жұмыстарды орындау және қызметтерді көрсету жөніндегі қызметті дербес жүзеге асыратын тұлғалар және (немесе) әрекетсіз дара кәсіпкерлер;<br>
                • отбасылық кәсіпкерлікте ақысыз қызметті дербес жүзеге асыратын тұлғалар;<br>
                • табысы ең төменгі күнкөріс деңгейінен төмен сатуға (айырбастауға) жеке қосалқы шаруашылықта өнім өндіру жөніндегі қызметті дербес жүзеге асыратын тұлғалар;<br>
                • Табысы ең төменгі күнкөріс деңгейінен төмен өндірістік кооператив мүшелері.<br>
                Кәсіпкерлік негіздерін оқу үшін, тұлғалар business.enbek.кz порталында тіркеледі.<br>
                Тұлғалардың санаттарына сәйкестігін тексеру порталда автоматты режимде жүзеге асырылады, одан кейін skills.enbek.kz платформасында (бұдан әрі – платформа) «Бастау Бизнес» жобасы шеңберінде кәсіпкерлік негіздеріне оқыту» онлайн курсына қолжетімділік беріледі.<br>
                Онлайн оқыту курсының ұзақтығы оқу курсы басталған сәттен бастап<br>
                күнтізбелік 14 (он төрт) күн.<br>
                Онлайн курс тегін беріледі. Курстың соңында қорытынды сынақ өткізіледі.<br>
                Оқуды тоқтатқан немесе қорытынды тестілеуден өтпеген адамға күнтізбелік жыл ішінде 2 (екі) реттен артық емес онлайн оқытуға қайта қатысу мүмкіндігі беріледі.<br>
                Сұрақтардың жалпы саынан 70 (жетпіс) пайыздан астам дұрыс жауап алған тұлғаға платформада берілген бірегей нөмірі бар оқуды аяқтағаны туралы электрондық сертификат беріледі. Сертификат жеке кабинетте көрсетіледі.<br>
                Оқуды аяқтау туралы сертификат оны алған күннен бастап үш жыл бойы жарамды.</p>
                <p>&nbsp;</p>
                <p><span style="font-size: 14pt;"><strong>«Бастау Бизнес» жобасы бойынша ең өзекті мәселелер:</strong></span></p>
                <table style="width: 69.0029%; height: 2212px;" width="1030">
                <tbody>
                <tr style="height: 24px;">
                <td style="width: 3.23822%; height: 24px;" width="48"><strong>№</strong></td>
                <td style="width: 33.1174%; height: 24px;" width="359"><strong>Сұрақ</strong></td>
                <td style="width: 54.807%; height: 24px;" width="623"><strong>Жауабы</strong></td>
                </tr>
                <tr style="height: 312px;">
                <td style="width: 3.23822%; height: 312px;" width="48"><strong>1.</strong></td>
                <td style="width: 33.1174%; height: 312px;" width="359"><strong>Порталда тіркелу</strong></td>
                <td style="width: 54.807%; height: 312px;" width="623">Порталда пайдаланушының екі кезеңді тіркеуі іске асырылды:<p></p>
                <p>&nbsp;</p>
                <p>1) Пайдаланушы порталда e-mail немесе ұялы телефон нөмірі бойынша тіркеледі. Егер пайдаланушы бұрын электрондық еңбек биржасында тіркелген болса (enbek.kz), содан кейін ол порталға кіру үшін өзінің есептік жазбасын пайдалана алады;</p>
                <p>&nbsp;</p>
                <p>2) Тіркеу барысында, электрондық мекенжайы расталғаннан кейін пайдаланушы одан әрі сәйкестендіру үшін өзінің ЖСН көрсетуі қажет.</p></td>
                </tr>
                <tr style="height: 96px;">
                <td style="width: 3.23822%; height: 96px;" width="48"><strong>2.</strong></td>
                <td style="width: 33.1174%; height: 96px;" width="359"><strong>Тіркеу кезінде ЖСН енгізілді, бірақ Портал сіздің ЖСН бойынша мәліметтерді табу мүмкін болмады деп жазады</strong></td>
                <td style="width: 54.807%; height: 96px;" width="623">Бұл пайдаланушы оқу курсына жазылуды жүзеге асырмайтын тест сайтында екенін білдіреді. Порталға дұрыс сілтеме business.enbek.kz</td>
                </tr>
                <tr style="height: 144px;">
                <td style="width: 3.23822%; height: 144px;" width="48"><strong>3.</strong></td>
                <td style="width: 33.1174%; height: 144px;" width="359"><strong>Неге жұмысқа орналасқан азаматтарға </strong><strong>«Бастау Бизнес» </strong><strong>жобасы бойынша оқудан өтуге болмайды?</strong></td>
                <td style="width: 54.807%; height: 144px;" width="623">«Халықты жұмыспен қамту туралы» Қазақстан Республикасы Заңының 23-бабына сәйкес азаматтардың кәсіпкерлік бастамаларына жәрдемдесуге бағытталған шаралар оларға «Бастау Бизнес» жобасы жатады, тіркелген жұмыссыздарға және Қазақстан Республикасының Үкіметі №178 қаулысымен айқындаған жұмыспен қамтылған адамдардың жекелеген санаттарына көрсетіледі.</td>
                </tr>
                <tr style="height: 120px;">
                <td style="width: 3.23822%; height: 120px;" width="48"><strong>4.</strong></td>
                <td style="width: 33.1174%; height: 120px;" width="359"><strong>Біз «Бастау Бизнес» жобасына қатысқымыз келді, бірақ мәртебені тексеру кезінде белсенді еңбек шарты бар екені белгілі болды</strong></td>
                <td style="width: 54.807%; height: 120px;" width="623">Бұл «Еңбек шарттарын есепке алудың бірыңғай жүйесі» АЖ-да қолданыстағы еңбек шартының болуы туралы жазба бар екенін білдіреді. Пайдаланушы электрондық еңбек шартының бар-жоғын тексеруі керек egov.kz (немесе E-gov mobile қосымшасы) және қажет болған жағдайда оны бұзу үшін бұрынғы жұмыс берушіге хабарласыңыз.</td>
                </tr>
                <tr style="height: 96px;">
                <td style="width: 3.23822%; height: 96px;" width="48"><strong>5.</strong></td>
                <td style="width: 33.1174%; height: 96px;" width="359"><strong>Жұмыспен қамтуға жәрдемдесудің белсенді шараларына қатысушылар «Бастау Бизнес» жобасына қатыса ала ма?</strong></td>
                <td style="width: 54.807%; height: 96px;" width="623">Ерікті түрде қоныс аударуға қатысатын адамдарды қоспағанда, бірақ ерікті түрде қоныс аударуға қатысушы «Бастау Бизнес» бойынша оқытуға қатыса алуы үшін алдымен «еңбек нарығы» ААЖ-ға қоныс аудару шарасын жабу қажет (егер шарт жасалған болса және өтініш беруші көшіп кеткен болса).</td>
                </tr>
                <tr style="height: 480px;">
                <td style="width: 3.23822%; height: 480px;" width="48"><strong>6.</strong></td>
                <td style="width: 33.1174%; height: 480px;" width="359"><strong>Егер сіз курсқа жазылып, оқуға кіріссеңіз және сізде белсенді шара бар екендігі туралы хабарлама болса не істеу керек?</strong></td>
                <td style="width: 54.807%; height: 480px;" width="623">Оқуды жалғастыру үшін, егер сіз курсқа тіркелген болсаңыз, порталда қайта тексеруден өтудің қажеті жоқ http://business.enbek.kz/ru.<p></p>
                <p>&nbsp;</p>
                <p>Сіз тіркеген курста оқуды жалғастыру үшін сізге авторизациядан өту қажет https://skills.enbek.kz/ru «Кіру» – «Білім алушы» – логин мен парольді енгізу және жоғарғы оң жақ бұрыштағы «Кабинет» батырмасын басу арқылы жеке кабинетіңізге өту. Әрі қарай, сіз «Курстар» қойындысынан «Бастау Бизнес» курсын таңдауыңыз керек. Курсты басқан кезде «Сипаттама», «Сабақтар», «Автор» қойындылары көрсетіледі.</p>
                <p>&nbsp;</p>
                <p>Оқуды бастау үшін «Сабақтар» қойындысындағы тиісті сабаққа өтіңіз. Сабақты аяқтаған кезде «Сабақты аяқтап, келесіге өту» түймесін басу керек. Барлық сабақтарды оқып, барлық модульдерді аяқтағаннан кейін сіз қорытынды тестілеуден өтуіңіз керек. Тестілеуді сәтті тапсырып, пікіріңізді ұсынғаннан кейін сізге жеке кабинетіңіздің «Сертификаттар» қосымша бетінде оқуды аяқтау туралы сертификат қолжетімді болады.</p></td>
                </tr>
                <tr style="height: 72px;">
                <td style="width: 3.23822%; height: 72px;" width="48"><strong>7.</strong></td>
                <td style="width: 33.1174%; height: 72px;" width="359"><strong>Курсқа жазылған адамдар «Еңбек нарығы» ААЖ-да пайда болған жоқ</strong></td>
                <td style="width: 54.807%; height: 72px;" width="623">Білім алушылар немесе білім алушылар бойынша деректер курсқа ерекшеліксіз жазылғандардың барлығы бойынша жақын арада еңбек нарығында пайда болады.</td>
                </tr>
                <tr style="height: 96px;">
                <td style="width: 3.23822%; height: 96px;" width="48"><strong>8.</strong></td>
                <td style="width: 33.1174%; height: 96px;" width="359"><strong>Грант қаражатын мақсатты пайдалану туралы есепті жіберу кезіндегі қате</strong></td>
                <td style="width: 54.807%; height: 96px;" width="623">Порталдың жаңа нұсқасына көшуге байланысты тарихи деректерді көшіру бойынша техникалық жұмыстар жүргізілуде. Осыған байланысты грантты мақсатты пайдалану туралы есептерді тапсыру қазір мүмкін емес. Жұмыстың аяқталуына қарай міндетті түрде хабарлаймыз.</td>
                </tr>
                <tr style="height: 72px;">
                <td style="width: 3.23822%; height: 72px;" width="48"><strong>9.</strong></td>
                <td style="width: 33.1174%; height: 72px;" width="359"><strong>Хабарлама </strong><strong>«</strong><strong>Сіздің деректеріңіз мемлекеттік дерекқорларда тексерілуі керек…»</strong></td>
                <td style="width: 54.807%; height: 72px;" width="623">МО АЖ басқа деректер базаларымен өзара іс-қимыл кезінде техникалық ақаулар туындауы мүмкін. Кейін қайта тексеруден өту керек.</td>
                </tr>
                <tr style="height: 28px;">
                <td style="width: 91.1626%; height: 28px; text-align: center;" colspan="3" width="1030"><span style="font-size: 14pt;"><strong>S</strong><strong>kills.enbek.kz бойынша сұрақтар</strong></span></td>
                </tr>
                <tr style="height: 120px;">
                <td style="width: 3.23822%; height: 120px;" width="48"><strong>1</strong><strong>.</strong></td>
                <td style="width: 33.1174%; height: 120px;" width="359"><strong>Егер ол келесі модульге өтпесе және </strong><strong>«</strong><strong>Алдымен алдыңғы модульдің барлық сабақтарын аяқтаңыз</strong><strong>» </strong><strong>хабарламасы шықса</strong></td>
                <td style="width: 54.807%; height: 120px;" width="623">Модульді өту кезінде әр сабақта “сабақты аяқтау және келесіге өту” түймесін басу керек. Сондай-ақ, өткен сабақтардың барлық белгішелері жасыл белгімен белгіленгеніне көз жеткізу керек, өйткені жүйе прогресті есептейді және “жасыл құсбелгі”критерийі бойынша келесі модульге қол жеткізуге мүмкіндік береді.</td>
                </tr>
                <tr style="height: 96px;">
                <td style="width: 3.23822%; height: 96px;" width="48"><strong>2.</strong></td>
                <td style="width: 33.1174%; height: 96px;" width="359"><strong>Күніне бір модульден өту керек пе?</strong></td>
                <td style="width: 54.807%; height: 96px;" width="623">Онлайн оқыту материалды игерудің еркін қарқынын таңдауды ұсынады. Мұның бәрі сіздің оқу қарқыныңызға және аралық тестілеуден өтуіңізге байланысты. Бір күнде өткен модульдер саны бойынша шектеулер жоқ, сонымен бірге қорытынды тестілеумен барлық курсты 14 күнде өту керек.</td>
                </tr>
                <tr style="height: 96px;">
                <td style="width: 3.23822%; height: 96px;" width="48"><strong>3.</strong></td>
                <td style="width: 33.1174%; height: 96px;" width="359"><strong>Сабақтың ұзақтығы 50 минут, бірақ бейне сабақ 5-7 минутқа созылады</strong></td>
                <td style="width: 54.807%; height: 96px;" width="623">Барлық оқыту материалдары: бейнесабақтар, презентациялық және дәрістік материалдар – оқыту үдерісінің элементтері. Сабақтың барлық материалдарымен танысуға 50 минут уақыт бөлінді. Материалды игеруге байланысты сіз сабақты 50 минуттан ертерек аяқтай аласыз.</td>
                </tr>
                <tr style="height: 48px;">
                <td style="width: 3.23822%; height: 48px;" width="48"><strong>4.</strong></td>
                <td style="width: 33.1174%; height: 48px;" width="359"><strong>Аралық тестілеуде қанша сұрақ бар?</strong></td>
                <td style="width: 54.807%; height: 48px;" width="623">Әр модульдің аралық тестілеу сұрақтарының саны сабақтар санына және зерттелетін материалдың күрделілігіне байланысты әр түрлі болуы мүмкін</td>
                </tr>
                <tr style="height: 96px;">
                <td style="width: 3.23822%; height: 96px;" width="48"><strong>5.</strong></td>
                <td style="width: 33.1174%; height: 96px;" width="359"><strong>Аралық тестілеуді қалай тапсыруға болады?</strong></td>
                <td style="width: 54.807%; height: 96px;" width="623">Келесі модульге өту үшін аралық тестілеуді басу, Жауап нұсқасын таңдау арқылы барлық сұрақтарға жауап беру және Аяқтау түймесін басу керек. Кемінде 70% дұрыс жауап жинаған кезде аралық тестілеу тапсырылды. Аралық тестілеуді өткізу әрекеттерінің саны шектелмеген</td>
                </tr>
                <tr style="height: 48px;">
                <td style="width: 3.23822%; height: 48px;" width="48"><strong>6.</strong></td>
                <td style="width: 33.1174%; height: 48px;" width="359"><strong>Қорытынды тестілеуде қанша сұрақ бар?</strong></td>
                <td style="width: 54.807%; height: 48px;" width="623">Қорытынды тестілеу 25 сұрақтан тұрады. Сізде қорытынды тестілеуден өту үшін 60 минут бар</td>
                </tr>
                <tr style="height: 48px;">
                <td style="width: 3.23822%; height: 48px;" width="48"><strong>7.</strong></td>
                <td style="width: 33.1174%; height: 48px;" width="359"><strong>Қорытынды тестілеуді неше рет қайта тапсыруға болады?</strong></td>
                <td style="width: 54.807%; height: 48px;" width="623">Қорытынды тестілеуді бірінші рет сәтсіз тапсырған кезде, сізде тестті қайта тапсыруға тағы 2 (екі) әрекет қалады.</td>
                </tr>
                <tr style="height: 120px;">
                <td style="width: 3.23822%; height: 120px;" width="48"><strong>8.</strong></td>
                <td style="width: 33.1174%; height: 120px;" width="359"><strong>Егер қорытынды тестілеуді тапсырмасаңыз не істеу керек?</strong></td>
                <td style="width: 54.807%; height: 120px;" width="623">Егер сіз қорытынды тестілеуді қайта тапсыруға барлық талпыныстарды пайдаланған болсаңыз, онда сізде ағымдағы күнтізбелік жыл ішінде 2 (екі) реттен артық емес оқуға қайта қатысу мүмкіндігі бар. Курсты қайта өту үшін Бизнес Еңбек порталында қайтадан тексеруден өтіп, Курсқа жазылу қажет.</td>
                </tr>
                </tbody>
                </table>
                <p><strong>&nbsp;</strong></p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                
                </p>
                <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/u6HbAW5sVMw?si=n-dwPP2IekY8AsaX" title="Видеоинструкция по получению государственных мер поддержки занятости на Электронной бирже труда" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                {% endif %}
                
            </div>
        </div>
    </div>
    

    {% include 'mySite/footer.html' %} 
</body>
</html>