{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{ language_code }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mySite/universal.css' %}">
    <link rel="stylesheet" href="{% static 'mySite/header2.css' %}">
    <title>{% trans 'Первое рабочее место' %} - {% trans 'Центр Трудовой мобильности Восточно-Казахстанской области' %}</title>
</head>
<body>
    {% include 'mySite/header.html' %}
    

    <div class="head">
        <div class="container">
            <div class="head-h">
            <h1>{% trans 'Первое рабочее место' %}</h1>
              
            {% load i18n %}
            <p>{% trans 'Коммунальное государственное учреждение «Центр трудовой мобильности» Восточно-Казахстанской области' %}</p>
        </div>
        </div>
    </div>

    <div class="conteiner">
        <div class="mian-section">
            <div class="container">
                {% if language_code == 'ru' %}
                <p class="white-space-wrap__p">
                    Участниками проекта является молодеж не старше 29 (двадцати девяти) лет, в том числе молодеж категории NEET, не имеющие опыта работы.

                    Рабочие места по проектам «Первое рабочее место» для выпускников учебных заведений создаются по полученной ими профессии (специальности) или родственной профессии (специальности), относящейся к той же группе занятий Национального классификатора занятий.
                    
                    Для трудоустройства на первое рабочее место претендент подает в центр занятости заявление по форме и с приложением следующих документов:
                    
                    1) документ, удостоверяющий личность;
                    
                    2) документы, подтверждающие трудовую деятельность (при наличии);
                    
                    3) документ об образовании (при наличии).
                    
                    Период трудовой деятельности лица, трудоустроенного на первое рабочее место, засчитывается в его трудовой стаж.
                    
                    Размер субсидии в месяц (заработной платы) для лиц, трудоустроенных в рамках проектов «Первое рабочее место» не менее 30 (тридцати) МРП
                    
                    Участие в проекте «Первое рабочее место» составляет не более 18 месяцев
                    
                    Период трудовой деятельности лица, трудоустроенного на первое рабочее место, засчитывается в его трудовой стаж.
                </p>
                <a href="https://enbek.kz/ru/search/vac?region_id=63&stag%5B00000%2430FW%5D=00000%2430FW"  class="show-this"><span>Просмотр вакансии </span></a>
                <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/U-vgj5W_D7Q" title="Видеоинструкция по получению государственных мер поддержки занятости на Электронной бирже труда" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                {% else %}
                <p class="white-space-wrap__p">
                    Жобаның қатысушылары 29 (жиырма тоғыз) жастан аспаған жастар, оның ішінде жұмыс тәжірибесі жоқ NEET санатындағы жастар болып табылады.

                    Оқу орындарының түлектері үшін “Бірінші жұмыс орны” жобалары бойынша жұмыс орындары ұлттық кәсіптер сыныптауышының сол сабақтар тобына жататын, олар алған кәсіп (мамандық) немесе ұқсас кәсіп (мамандық) бойынша құрылады.
                    
                    Бірінші жұмыс орнына жұмысқа орналасу үшін үміткер жұмыспен қамту орталығына мынадай құжаттарды қоса бере отырып, нысан бойынша өтініш береді:
                    
                    1) жеке басын куәландыратын құжат;
                    
                    2) еңбек қызметін растайтын құжаттар (бар болса);
                    
                    3) білімі туралы құжат (бар болса).
                    
                    Бірінші жұмыс орнына жұмысқа орналасқан адамның еңбек қызметі кезеңі оның еңбек өтіліне есептеледі.
                    
                    “Бірінші жұмыс орны” жобалары шеңберінде жұмысқа орналасқан адамдар үшін айына субсидия (жалақы) мөлшері кемінде 30 (отыз) АЕК
                    
                    “Бірінші жұмыс орны” жобасына қатысу 18 айдан аспайды
                    
                    Бірінші жұмыс орнына жұмысқа орналасқан адамның еңбек қызметі кезеңі оның еңбек өтіліне есептеледі.
                </p>
                <a href="https://enbek.kz/kz/search/vac?region_id=63&stag%5B00000%2430FW%5D=00000%2430FW"  class="show-this"><span>Просмотр вакансии </span></a>
                <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/_xWnOrz0y0E" title="Электрондық еңбек биржасында жұмыспен қамтуды қолдаудың мемлекеттік шараларын алу" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> </div>
                {% endif %}
                

                    

            </div>
        </div>
    </div>
    

    {% include 'mySite/footer.html' %} 
</body>
</html>