{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{ language_code }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mySite/universal.css' %}">
    <link rel="stylesheet" href="{% static 'mySite/header2.css' %}">
    <title>{% trans 'ПРОФЕССИОНАЛЬНОЕ ОБУЧЕНИЕ НА РАБОЧЕМ МЕСТЕ' %} - {% trans 'Центр Трудовой мобильности Восточно-Казахстанской области' %}</title>
</head>
<body>
    {% include 'mySite/header.html' %}
    

    <div class="head">
        <div class="container">
            <div class="head-h">
            <h1>{% trans 'ПРОФЕССИОНАЛЬНОЕ ОБУЧЕНИЕ НА РАБОЧЕМ МЕСТЕ' %}</h1>
              
            {% load i18n %}
            <p>{% trans 'Коммунальное государственное учреждение «Центр трудовой мобильности» Восточно-Казахстанской области' %}</p>
        </div>
        </div>
    </div>

    <div class="conteiner">
        <div class="mian-section">
            <div class="container">
                {% if language_code == 'ru' %}
                <p class="white-space-wrap__p">
                    Целью обучения является краткосрочная подготовка квалифицированных кадров из числа безработных граждан для работодателей. Продолжительность профессионального обучения составляет не более 6 месяцев, исходя из особенностей квалификации и навыков.

                    Профессиональное обучение безработных на рабочем месте у работодателей организуется при соответствии их следующим требованиям:
                    
                    1)наличие статуса действующего юридического лица или индивидуального предпринимателя, зарегистрированного на территории Республике Казахстан;
                    
                    2)осуществление деятельности более одного года;
                    
                    3)отсутствие просроченной задолженности по налогам, взносам и отчислениям;
                    
                    4)наличие материально-технической базы;
                    
                    5)наличие квалифицированных работников с профессиональным практическим опытом работы на производстве не менее одного года для закрепления в качестве наставника.
                    
                    6)наличие индивидуальной учебной программы подготовки кадров по рабочим квалификациям;
                    
                    Допускются к участию работодатели в Уставе (Положении) которых имеются нормы по профессиональной подготовке, переподготовке и повшению квалфикации кадров.
                    
                    По окончанию обучения работодатель проводит квалификационный экзамен безработных по оценке профессиональной подготовленности.
                    
                    Безработным, завершившим обучение, работодателем выдается сертификат о приобретении профессиональных навыков и предлагается трудоустройство на рабочее место.
                    
                    Государство покрывает расходы за обучение, и предусматривает также оплату труда мастеров производственного обучения, заработная плата безработным в период обучения выплачивается центром занятости в размере 20 МРП, в зависимости от сложности выполняемой работы работодатель за счет собственных средств устанавливает дополнительную надбавку к заработной плате за фактически выполненную работу.
                    
                    В течение 10 (десяти) рабочих дней со дня успешного завершения обучения безработным работодатель на основе Договора трудоустраивает их на постоянную работу со сроком не менее 12 (двенадцати) месяцев.
                    
                    Образец заявки от работодателя необходимо заполнить и направить онлайн через egov.kz или eotinish.gov.kz, либо очно
                </p>
                {% else %}
                <p class="white-space-wrap__p">
                    Оқытудың мақсаты жұмыс берушілер үшін жұмыссыз азаматтар қатарынан қысқа мерзімді білікті кадрларды даярлау. Кәсіптік оқытудың мерзімі біліктілік пен дағдылардың ерекшеліктеріне қарай 6 айдан аспайды.

                    Жұмыссызды жұмыс берушілердегі жұмыс орнында кәсіптік оқыту  мынадай талаптарға сәйкес келетін:
                    
                    1) Қазақстан Республикасының аумағында тіркелген жұмыс істеп тұрған заңды тұлға немесе дара кәсіпкер статусы бар;
                    
                    2) бір жылдан астам жұмыс істеп тұрған;
                    
                    3) салық, жарналар және аударымдар бойынша өтіп кеткен берешегі жоқ;
                    
                    4) материалдық-техникалық базасы бар;
                    
                    5) өндірісте кемінде бір жыл кәсіптік практикалық жұмыс өтілі бар білікті жұмыскерлері бар; Жұмыс беруші жұмыссыздың жеке оқу бағдарламасын жасайды және білікті тәлімгерді бекітіп, жұмыс орнында оқытуды жүзеге асырады
                    
                    6)жұмысшы біліктіліктер бойынша кадрлар даярлаудың жеке оқыту бағдарламалары бар болуы керек.
                    
                          Жұмыссыздарды  жұмыс орнында кәсіптік оқытуға Жарғысында (Ережесінде) кадрларды кәсіптік даярлау, қайта даярлау және біліктілікті арттыру жөніндегі нормалары бар жұмыс берушілер қатыса алады.
                    
                       Оқуды аяқтаған соң жұмыс беруші жұмыссыздардың кәсіптік даярлығын бағалау бойынша біліктілік емтихан өткізеді. Оқуды аяқтаған жұмыссыздарға жұмыс беруші кәсіби дағдыларды меңгергені туралы сертификат береді және жұмыс орнына жұмысқа орналастыруды ұсынады.
                    
                    Оқу кезеңінде жұмыссызға жалақыны жұмыспен қамту орталығы төлейді. Жалақының бір айдағы мөлшері экологиялық үстемеақылар бойынша төлемдерді есепке алмағанда, салықтарды, міндетті әлеуметтік аударымдарды және пайдаланылмаған еңбек демалысына өтемақыны ескергенде 20 (жиырма) АЕК-ті құрайды. Орындалатын жұмыстың көлеміне және күрделілігіне қарай жұмыс беруші өз қаражаты есебінен, қажет болған жағдайда, нақты орындалған жұмыс үшін жалақыға қосымша үстеме ақы белгілейді.
                    
                    Жұмыссыз оқуды сәтті аяқтағаннан кейін жұмыс беруші Шарттың негізінде оны 10 (он) жұмыс күні ішінде тұрақты жұмыс орнына кемінде 12 (он екі) мерзімге жұмысқа орналастырады.
                    
                    Жұмыс берушіден өтінім үлгісі czn.kz сайтындағы» Жұмыссызды жұмыс берушілердегі жұмыс орнында кәсіптік оқыту  бөлімінде жүктей аласыз.
                    
                    Жұмыс берушіден өтінім үлгісін толтырып, egov.kz немесе eotinish.gov.kz бойынша онлайн жолдау қажет 
                </p>
                {% endif %}
                <p class="white-space-wrap__p">
                    
                </p>

                    <!-- <a href="Ссылка"  class="show-this"><span>Просмотр вакансии </span></a>
                 <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/U-vgj5W_D7Q" title="Видеоинструкция по получению государственных мер поддержки занятости на Электронной бирже труда" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div> -->
            </div>
        </div>
    </div>
    

    {% include 'mySite/footer.html' %} 
</body>
</html>