{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{ language_code }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mySite/universal.css' %}">
    <link rel="stylesheet" href="{% static 'mySite/header2.css' %}">
    <title>{% trans 'ОТЧЕТ ПО КВОТИРОВАНИЮ РАБОЧИХ МЕСТ' %} - {% trans 'Центр Трудовой мобильности Восточно-Казахстанской области' %}</title>
</head>
<body>
    {% include 'mySite/header.html' %}
    

    <div class="head">
        <div class="container">
            <div class="head-h">
            <h1>{% trans 'ОТЧЕТ ПО КВОТИРОВАНИЮ РАБОЧИХ МЕСТ' %}</h1>
              
 {% load i18n %}
            <p>{% trans 'Коммунальное государственное учреждение «Центр трудовой мобильности» Восточно-Казахстанской области' %}</p>
        </div>
        </div>
    </div>

    <div class="conteiner">
        <div class="mian-section">
            <div class="container">
                {% if language_code == 'ru' %}
                <p class="white-space-wrap__p">
                    Справочно: в соответствии со статьей 98 Кодекса Республики Казахстан «Об административных правонарушениях» за невыполнения установленной квоты рабочих мест (для инвалидов, лиц, состоящих на учете службы пробации, а также лиц, освобожденных из мест лишения свободы, и граждан из числа молодежи, потерявших или оставшихся до наступления совершеннолетия без попечения родителей, являющихся выпускниками организаций образования) влечет предупреждение.

                    Действие (бездействие), предусмотренное частью первой настоящей статьи, совершенное повторно в течение года после наложения административного взыскания – влечет штраф на должностных лиц, субъектов малого предпринимательства или некоммерческие организации в размере пяти, на субъектов среднего предпринимательства – в размере семи, на субъектов крупного предпринимательства – в размере десяти месячных расчетных показателей.
                </p>
                <a class="a_link" href="{% static 'Форма-отчетности-по-квоте-рус.xlsx' %}" download>Форма отчетности по квоте</a>
                {% else %}
                <p class="white-space-wrap__p">
                    Анықтама үшін: Қазақстан Республикасының «Әкімшілік құқық бұзушылық туралы” Кодексінің 98-бабына сәйкес жұмыс орындарының бекітілген квотасын орындамағаны үшін (мүгедектер, пробация қызметінің есебінде тұрған адамдар, сондай-ақ бас бостандығынан айыру орындарынан босатылған адамдар және ата-анасынан кәмелеттік жасқа толғанға дейін айырылған немесе ата-анасының қамқорлығынсыз қалған, білім беру мекемелерінің түлектері болып табылатын жастар қатарындағы азаматтар үшін) ескерту жасауға әкеп соғады.

                    Осы баптың бірінші бөлігінде көзделген әкімшілік жаза қолданылғаннан кейін бір жыл ішінде қайталап жасалған әрекет (әрекетсіздік) – лауазымды адамдарға, шағын кәсіпкерлік субъектілеріне немесе коммерциялық емес мекемелерге – бес, орта кәсіпкерлік субъектілеріне – жеті, ірі кәсіпкерлік субъектілеріне он айлық есептік көрсеткіш мөлшерінде айыппұл салынуына алып келеді.
                </p>
                <a class="a_link" href="{% static 'Форма-отчетности-по-квоте-рус.xlsx' %}" download>Квота бойынша есептілік нысаны</a>
                {% endif %}

                

            </div>
        </div>
    </div>
    

    {% include 'mySite/footer.html' %} 
</body>
</html>