{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{ language_code }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mySite/universal.css' %}">
    <link rel="stylesheet" href="{% static 'mySite/header2.css' %}">
    <title>{% trans 'Серебрянный возраст' %} - {% trans 'Центр Трудовой мобильности Восточно-Казахстанской области' %}</title>
</head>
<body>
    {% include 'mySite/header.html' %}
    

    <div class="head">
        <div class="container">
            <div class="head-h">
            <h1>{% trans 'Серебрянный возраст' %}</h1>
              
            {% load i18n %}
            <p>{% trans 'Коммунальное государственное учреждение «Центр трудовой мобильности» Восточно-Казахстанской области' %}</p>
        </div>
        </div>
    </div>

    <div class="conteiner">
        <div class="mian-section">
            <div class="container">
                {% if language_code == 'ru' %}
                <p class="white-space-wrap__p">
                    Участниками проекта являются безработные лица старше 50 лет, сроком до 3 лет.

                    Для трудоустройства по проекту «Серебряный возраст» претендент подает в Центр занятости заявление по форме и с приложением следующих документов:
                    
                    1) документ, удостоверяющий личность;
                    
                    2) документы, подтверждающие трудовую деятельность (при наличии);
                    
                    3) документ об образовании (при наличии).
                    
                    После завершения срока участия в проекте «Серебряный возраст» трудоустроить лица, предпенсионного возраста на постоянное рабочее места до выхода на пенсию;
                    
                    Участие в проекте «Серебрянный возраст» не более 36 месяцев.
                    
                    1) первые 12 (двенадцать) месяцев участия – 70% от размера зарплаты, но не более 30 (тридцати) МРП;
                    2) с 13 (тринадцатого) до 24 (двадцать четвертого) месяца участия – 65% от размера зарплаты, но не более 30 (тридцати) МРП;
                    3) с 25 (двадцать пятого) до 36 (тридцать шестого) месяца участия – 60% от размера зарплаты, но не более 30 (тридцати) МРП.
                </p>
                <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/U-vgj5W_D7Q" title="Видеоинструкция по получению государственных мер поддержки занятости на Электронной бирже труда" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                {% else %}
                <p class="white-space-wrap__p">
                    Жобаның қатысушылары 50 жастан асқан, мерзімі 3 жылға дейінгі жұмыссыз адамдар болып табылады.

                    «Күміс жас» жобасы бойынша жұмысқа орналасу үшін үміткер Жұмыспен қамту орталығына мынадай құжаттарды қоса бере отырып, нысан бойынша өтініш береді:
                    
                    1) жеке басын куәландыратын құжат;
                    
                    2) еңбек қызметін растайтын құжаттар (бар болса);
                    
                    3) білімі туралы құжат (бар болса).
                    
                    «Күміс жас» жобасына қатысу мерзімі аяқталғаннан кейін зейнеткерлік жас алдындағы адамдарды зейнеткерлікке шыққанға дейін тұрақты жұмыс орнына жұмысқа орналастыру;
                    
                    «Күміс жас» жобасына қатысу 36 айдан аспайды
                    
                    1) қатысудың алғашқы 12 (он екі) айы-жалақы мөлшерінің 70%, бірақ 30 (отыз) АЕК-тен аспайды;
                    2) қатысудың 13 (он үшінші) айдан 24 (жиырма төртінші) айына дейін-жалақы мөлшерінің 65%, бірақ 30 (отыз) АЕК-тен аспайды;
                    3) қатысудың 25 (жиырма бесінші) айдан 36 (отыз алтыншы) айына дейін – жалақы мөлшерінің 60%, бірақ 30 (отыз) АЕК-тен аспайды.
                </p>
                <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/_xWnOrz0y0E" title="Электрондық еңбек биржасында жұмыспен қамтуды қолдаудың мемлекеттік шараларын алу" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                 </div>
                {% endif %}

               
            </div>
        </div>
    </div>
    

    {% include 'mySite/footer.html' %} 
</body>
</html>