{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{ language_code }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mySite/universal.css' %}">
    <link rel="stylesheet" href="{% static 'mySite/header2.css' %}">
    <title>{% trans 'Социальные рабочие места' %} - {% trans 'Центр Трудовой мобильности Восточно-Казахстанской области' %}</title>
</head>
<body>
    {% include 'mySite/header.html' %}
    

    <div class="head">
        <div class="container">
            <div class="head-h">
            <h1>{% trans 'Социальные рабочие места' %}</h1>
              
            {% load i18n %}
            <p>{% trans 'Коммунальное государственное учреждение «Центр трудовой мобильности» Восточно-Казахстанской области' %}</p>
        </div>
        </div>
    </div>

    <div class="conteiner">
        <div class="mian-section">
            <div class="container">
                {% if language_code == 'ru' %}
                <p class="white-space-wrap__p">
                    Социальное рабочее место создается работодателем для трудоустройства безработных с субсидированием их заработной платы.

                    Социальные рабочие места создаются для безработных, среди которых приоритетом пользуются лица, указанные в подпунктах 1) — 9) пункта 2 статьи 20 Закона «О занятости населения»:
                    
                    1) воспитанники детских деревень и выпускники детских домов, школ-интернатов для детей сирот и детей, оставшихся без попечения родителей, в возрасте от шестнадцати до двадцати трех лет;
                    
                    2) лица предпенсионного возраста (за два года до пенсии);
                    
                    3) инвалиды;
                    
                    4) лица, освобожденные из мест лишения свободы и (или) прошедшие принудительное лечение;
                    
                    5) лица, состоящие на учете службы пробации;
                    
                    6) одинокие, многодетные родители, воспитывающие несовершеннолетних детей;
                    
                    7) лица, осуществляющие уход за детьми в возрасте до семи лет, ребенком-инвалидом, инвалидами первой и второй групп;
                    
                    8) кандасы;
                    
                    9) лица, пострадавшие в результате акта терроризма, и лица, участвовавшие в его пресечении.
                    
                    Работа на социальных рабочих местах носит временный характер.
                    
                    Продолжительность участия граждан в социальных рабочих местах составляет не более 12 (двенадцати) месяцев.
                    
                    Для трудоустройства на социальное рабочее место претендент подает в центр занятости заявление по форме и с приложением следующих документов:
                    
                    1) документ, удостоверяющий личность;
                    
                    2) документы, подтверждающие трудовую деятельность (при наличии);
                    
                    3) документ об образовании (при наличии).
                    
                    Период трудовой деятельности лица, трудоустроенного на социальное рабочее место, засчитывается в его трудовой стаж.
                </p>
                <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/U-vgj5W_D7Q" title="Видеоинструкция по получению государственных мер поддержки занятости на Электронной бирже труда" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                {% else %}
                <p class="white-space-wrap__p">
                    Жұмыс беруші жұмыссыздардың жалақысын субсидиялай отырып, оларды жұмысқа орналастыру үшін әлеуметтік жұмыс орнын құрады.

                    Әлеуметтік жұмыс орындары жұмыссыздар үшін құрылады, олардың арасында “халықты жұмыспен қамту туралы”Заңның 20 – бабы 2-тармағының 1) – 9) тармақшаларында көрсетілген адамдар басымдыққа ие болады:
                    
                    1) балалар ауылдарының тәрбиеленушілері және балалар үйлерінің, жетім балалар мен ата-анасының қамқорлығынсыз қалған он алты жастан жиырма үш жасқа дейінгі балаларға арналған мектеп-интернаттардың түлектері;
                    
                    2)зейнеткерлік жас алдындағы адамдар (зейнеткерлікке шығуға екі жыл қалған);
                    
                    3) мүгедектер;
                    
                    4) бас бостандығынан айыру орындарынан босатылған және (немесе) мәжбүрлеп емдеуден өткен адамдар;
                    
                    5) пробация қызметінің есебінде тұрған адамдар;
                    
                    6) кәмелетке толмаған балаларды тәрбиелеп отырған жалғызілікті, көп балалы ата-аналар;
                    
                    7) жеті жасқа дейінгі балаларды, мүгедек баланы, бірінші және екінші топтағы мүгедектерді бағып-күтуді жүзеге асыратын адамдар жатады;
                    
                    8) қандастар;
                    
                    9) терроризм актісінің салдарынан зардап шеккен адамдар және оның жолын кесуге қатысқан адамдар басым құқыққа ие болады.
                    
                    Әлеуметтік жұмыс орындарындағы жұмыс уақытша сипатта болады.
                    
                    Азаматтардың әлеуметтік жұмыс орындарына қатысу ұзақтығы 12 (он екі) айдан аспайды.
                    
                    Әлеуметтік жұмыс орнына жұмысқа орналасу үшін үміткер жұмыспен қамту орталығына мынадай құжаттарды қоса бере отырып, нысан бойынша өтініш береді:
                    
                    1) жеке басын куәландыратын құжат;
                    
                    2) еңбек қызметін растайтын құжаттар (бар болса);
                    
                    3) білімі туралы құжат (бар болса).
                    
                    Әлеуметтік жұмыс орнына жұмысқа орналастырылған адамның еңбек қызметі кезеңі оның еңбек өтіліне есептеледі.
                </p>
                <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/_xWnOrz0y0E" title="Электрондық еңбек биржасында жұмыспен қамтуды қолдаудың мемлекеттік шараларын алу" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                 </div>
                {% endif %}

                    <!-- <a href="https://enbek.kz/ru/search/vac?region_id=63&stag%5B00000%2430SRM%5D=00000%2430SRM"  class="show-this"><span>Просмотр вакансии </span></a>
                 <div class="video-player">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/U-vgj5W_D7Q" title="Видеоинструкция по получению государственных мер поддержки занятости на Электронной бирже труда" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div> -->
            </div>
        </div>
    </div>
    

    {% include 'mySite/footer.html' %} 
</body>
</html>