

{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{ language_code }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mySite/header2.css' %}">
    <link rel="stylesheet" href="{% static 'mySite/universal.css' %}">

    <title>{% trans 'Организационная структура' %} - {% trans 'Центр Трудовой мобильности Восточно-Казахстанской области' %}</title>
</head>
<body>
    {% include 'mySite/header.html' %}

    <div class="head">
        <div class="container">
            <div class="head-h">
            <h1 class="nav3-h">{% trans 'Организационная структура КГУ "Центр трудовой мобильности" ГУ "Управление координации занятости и социальных программ Восточно-Казахстанской области' %}  </h1>
              
 {% load i18n %}
            <p>{% trans 'Коммунальное государственное учреждение «Центр трудовой мобильности» Восточно-Казахстанской области' %}</p>
        </div>
        </div>
    </div>
    <div class="conteiner">
        <div class="mian-section">
          {% if language_code == 'kk' %}
             <p class="main-text white-space-wrap__p">
            <b>Басшылық:</b>

            1. Директор

            2. Директордың орынбасары


            <b>Құрылымдық бөлімшелер (бөлімдер):</b>

            1. Жұмысқа уақытша орналастыру және ХАҚТ-мен жұмыс бөлімі 

            2. Еңбек ресурстарын болжау бөлімі

            3. Мансап орталықтарының қызметін үйлестіру және мониторингілеу бөлімі

            4. Бухгалтерлік есеп (орталықтандырылған)

            5. Әкімшілік бөлімі


            <b>Филиалы в городах и районах:</b>
            
            1. Шығыс Қазақстан облысының жұмыспен қамту және әлеуметтік 
            бағдарламаларды үйлестіру басқармасының «Шығыс Қазақстан облысының 
            еңбек мобильділігі орталығы» коммуналдық мемлекеттік мекемесінің 
            «Өскемен қаласының мансап орталығы» филиалы
            
            2. Шығыс Қазақстан облысының жұмыспен қамту және әлеуметтік 
            бағдарламаларды үйлестіру басқармасының «Шығыс Қазақстан облысының 
            еңбек мобильділігі орталығы» коммуналдық мемлекеттік мекемесінің 
            «Риддер қаласының мансап орталығы» филиалы
            
            3. Шығыс Қазақстан облысының жұмыспен қамту және әлеуметтік 
            бағдарламаларды үйлестіру басқармасының «Шығыс Қазақстан облысының 
            еңбек мобильділігі орталығы» коммуналдық мемлекеттік мекемесінің «Алтай 
            ауданының мансап орталығы» филиалы
            
            4. Шығыс Қазақстан облысының жұмыспен қамту және әлеуметтік 
            бағдарламаларды үйлестіру басқармасының «Шығыс Қазақстан облысының 
            еңбек мобильділігі орталығы» коммуналдық мемлекеттік мекемесінің «Самар 
            ауданының мансап орталығы» филиалы
            
            5. Шығыс Қазақстан облысының жұмыспен қамту және әлеуметтік 
            бағдарламаларды үйлестіру басқармасының «Шығыс Қазақстан облысының 
            еңбек мобильділігі орталығы» коммуналдық мемлекеттік мекемесінің «Ұлан
            ауданының мансап орталығы» филиалы
            
            6. Шығыс Қазақстан облысының жұмыспен қамту және әлеуметтік 
            бағдарламаларды үйлестіру басқармасының «Шығыс Қазақстан облысының 
            еңбек мобильділігі орталығы» коммуналдық мемлекеттік мекемесінің «Ұлан
            ауданының мансап орталығы» филиалы
            
            7. Шығыс Қазақстан облысының жұмыспен қамту және әлеуметтік 
            бағдарламаларды үйлестіру басқармасының «Шығыс Қазақстан облысының 
            еңбек мобильділігі орталығы» коммуналдық мемлекеттік мекемесінің 
            «Тарбағатай ауданының мансап орталығы» филиалы

            8. Шығыс Қазақстан облысының жұмыспен қамту және әлеуметтік 
            бағдарламаларды үйлестіру басқармасының «Шығыс Қазақстан облысының 
            еңбек мобильділігі орталығы» коммуналдық мемлекеттік мекемесінің 
            «Катонқарғай ауданының мансап орталығы» филиалы
            
            9. Шығыс Қазақстан облысының жұмыспен қамту және әлеуметтік
            бағдарламаларды үйлестіру басқармасының «Шығыс Қазақстан облысының 
            еңбек мобильділігі орталығы» коммуналдық мемлекеттік мекемесінің 
            «Күршім ауданының мансап орталығы» филиалы
            
            10. Шығыс Қазақстан облысының жұмыспен қамту және әлеуметтік 
            бағдарламаларды үйлестіру басқармасының «Шығыс Қазақстан облысының 
            еңбек мобильділігі орталығы» коммуналдық мемлекеттік мекемесінің 
            «Шемонаиха ауданының мансап орталығы» филиалы
            
            11. Шығыс Қазақстан облысының жұмыспен қамту және әлеуметтік 
            бағдарламаларды үйлестіру басқармасының «Шығыс Қазақстан облысының 
            еңбек мобильділігі орталығы» коммуналдық мемлекеттік мекемесінің 
            «Глубокое ауданының мансап орталығы» филиалы
          </p>
          {% else %}
             <p class="main-text white-space-wrap__p">
            
            <b>Руководство:</b>

            1. Директор

            2. Заместитель директора


            <b>Структурные подразделения (отделы):</b>

            1. Отдел временного трудоустройства и по работе СУСН 

            2. Отдел прогнозирования трудовых ресурсов

            3. Отдел по координации и мониторингу деятельности карьерных центров

            4. Бухгалтерия (централизованная)

            5. Административный отдел



            <b>Филиалы в городах и районах:</b>

            1. Филиал КГУ "Центр трудовой мобильности" ГУ "Управление 
            координации занятости и социальных программ Восточно-Казахстанской 
            области "Карьерный центр города Усть-Каменогорска"

            2. Филиал КГУ "Центр трудовой мобильности" ГУ "Управление 
            координации занятости и социальных программ Восточно-Казахстанской 
            области "Карьерный центр города Риддер"

            3. Филиал КГУ "Центр трудовой мобильности" ГУ "Управление 
            координации занятости и социальных программ Восточно-Казахстанской 
            области "Карьерный центр района Алтай"

            4. Филиал КГУ "Центр трудовой мобильности" ГУ "Управление 
            координации занятости и социальных программ Восточно-Казахстанской 
            области "Карьерный центр района Самар"

            5. Филиал КГУ "Центр трудовой мобильности" ГУ "Управление 
            координации занятости и социальных программ Восточно-Казахстанской 
            области "Карьерный центр Уланского района"

            6. Филиал КГУ "Центр трудовой мобильности" ГУ "Управление 
            координации занятости и социальных программ Восточно-Казахстанской 
            области "Карьерный центр Зайсанского района"

            7. Филиал КГУ "Центр трудовой мобильности" ГУ "Управление 
            координации занятости и социальных программ Восточно-Казахстанской 
            области "Карьерный центр Тарбагатайского района"

            8. Филиал КГУ "Центр трудовой мобильности" ГУ "Управление 
            координации занятости и социальных программ Восточно-Казахстанской 
            области "Карьерный центр Катон-Карагайского района"

            9. Филиал КГУ "Центр трудовой мобильности" ГУ "Управление 
            координации занятости и социальных программ Восточно-Казахстанской 
            области "Карьерный центр Курчумского района"

            10. Филиал КГУ "Центр трудовой мобильности" ГУ "Управление 
            координации занятости и социальных программ Восточно-Казахстанской 
            области "Карьерный центр Шемонаихинского района"
            
            11. Филиал КГУ "Центр трудовой мобильности" ГУ "Управление 
            координации занятости и социальных программ Восточно-Казахстанской 
            области "Карьерный центр Глубоковского района"
          </p>
          {% endif %}
          
        </div>
    </div>
    

    {% include 'mySite/footer.html' %} 
</body>
</html>
