{% load static %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{ language_code }">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mySite/universal.css' %}">
    <link rel="stylesheet" href="{% static 'mySite/header2.css' %}">
    <title>{% trans 'СУБСИДИРОВАНИЕ СОЗДАНИЯ СПЕЦИАЛЬНЫХ РАБОЧИХ МЕСТ ДЛЯ ЛИЦ С ИНВАЛИДНОСТЬЮ' %} - {% trans 'Центр Трудовой мобильности Восточно-Казахстанской области' %}</title>
</head>
<body>
    {% include 'mySite/header.html' %}
    

    <div class="head">
        <div class="container">
            <div class="head-h">
            <h1>{% trans 'СУБСИДИРОВАНИЕ СОЗДАНИЯ СПЕЦИАЛЬНЫХ РАБОЧИХ МЕСТ ДЛЯ ЛИЦ С ИНВАЛИДНОСТЬЮ' %}</h1>
              
 {% load i18n %}
            <p>{% trans 'Коммунальное государственное учреждение «Центр трудовой мобильности» Восточно-Казахстанской области' %}</p>
        </div>
        </div>
    </div>

    <div class="conteiner">
        <div class="mian-section">
            <div class="container">
                {% if language_code == 'ru' %}
                <p class="white-space-wrap__p">
                    Информация по созданию специального рабочего места для инвалида

                    Специальное рабочее место создается для трудоустройства лиц, с инвалидностью, предоставляются субсидии работодателям в целях возмещения затрат на приобретение, монтаж и установку оборудования для оснащения специальных рабочих мест.
                   
                   Во исполнение приказа министра труда и социальной защиты от 28 августа 2017 года № 280 «Об утверждении Правил и условий субсидирования затрат работадателей, создающих специальные рабочие места для трудоустройства инвалидов» определены порядок и условия предоставления субсидий для работадателей, создающих специальные рабочие места для инвалидов.
                   
                   Организация работ по субсидированию работодателей, связанных с созданием специальных рабочих мест осуществляется центрами занятости населения за счет средств республиканского бюджета в соответствии с утвержденными планами финансирования по обязательствам и платежам и в пределах сумм, предусмотренных на эти цели бюджетами районов (городов областного, республиканского значения и столицы).
                   
                   В 2021 году для создания одного специального рабочего места инвалида, с нарушением опорно-двигательного аппарата выделено 170 000 тенге, с нарушением слуха выделено             537 000 тенге.
                   
                   Ежегодно в срок до 1 ноября, исходя из лимита финансирования, центром занятости населения осуществляется сбор заявок на предстоящий финансовый год от работодателей, создающих специальные рабочие места, по форме согласно приложению    1  к настоящим Правилам, или через Биржу труда.
                   
                   При обращении в центр занятости населения к заявке прилагаются:
                   
                   смета расходов на оборудование специальных рабочих мест;
                   справка о наличии счета в банке.
                </p>
                <a href="https://enbek.kz/kz/search/vac?region_id=63&kvotInv=kvotInv"  class="show-this"><span>Вакансии для лиц с инвалидностью </span></a>
                {% else %}
                <p class="white-space-wrap__p">
                    Мүгедек үшін арнайы жұмыс орнын құру туралы ақпарат

                    Мүгедектігі бар адамдарды жұмысқа орналастыру үшін арнайы жұмыс орны құрылады, арнайы жұмыс орындарын жарақтандыру үшін жабдықты сатып алуға, монтаждауға және орнатуға жұмсалған шығындарды өтеу мақсатында жұмыс берушілерге субсидиялар беріледі.
                    
                    “Мүгедектерді жұмысқа орналастыру үшін арнайы жұмыс орындарын құратын жұмыс берушілердің шығындарын субсидиялау қағидалары мен шарттарын бекіту туралы” Еңбек және әлеуметтік қорғау Министрінің 2017 жылғы 28 тамыздағы № 280 бұйрығын орындау үшін мүгедектерге арнайы жұмыс орындарын құратын жұмыс берушілерге субсидиялар беру тәртібі мен шарттары айқындалды.
                    
                    Жұмыс берушілердің арнайы жұмыс орындарын құрумен байланысты шығындарын субсидиялау бойынша жұмыстарды халықты жұмыспен қамту орталықтары республикалық бюджет қаражаты есебінен бекітілген міндеттемелер мен төлемдер бойынша қаржыландыру жоспарларына сәйкес және осы мақсаттарға аудандардың (облыстық, республикалық маңызы бар қалалардың және астананың) бюджеттерімен көзделген сомалар шегінде іске асырады.
                    
                    2022 жылы тірек-қимыл аппараты бұзылған мүгедекке бір арнайы жұмыс орнын құруға 765 000 теңге, есту қабілеті бұзылған мүгедекке 1 004 250 теңге бөлінді.
                    
                    Халықты жұмыспен қамту орталығы қаржыландыру лимиті негізінде жыл сайын 1 қарашаға дейін осы Қағидаларға  1-қосымшаға сәйкес нысан бойынша арнайы жұмыс орындарын құратын жұмыс берушілерден немесе Еңбек биржасы арқылы алдағы қаржы жылына өтінімдер жинауды жүзеге асырады.
                    
                    Халықты жұмыспен қамту орталығына жүгінген кезде өтінімге:
                    
                    арнайы жұмыс орындарын жабдықтауға арналған шығыстар сметасы;
                    банкте шоттың бар-жоғы туралы анықтама қоса беріледі.
                </p>
                <a href="https://enbek.kz/ru/search/vac?region_id=63&kvotInv=kvotInv"  class="show-this"><span>Мүгедек адамдарға арналған бос орындар </span></a>
                {% endif %}



            </div>
        </div>
    </div>
    

    {% include 'mySite/footer.html' %} 
</body>
</html>